<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
	<title>注册 - {:C('SITE_NAME')}</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/login.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/sweetalert.css"/>

    <script language="javascript">
    function login(){
        var username=document.getElementById('user').value;
        var password=document.getElementById('pwd').value;

        if( username && password ){
            var login_data= $("form").serialize();
            $.ajax({
                url:"{:U('/Authentication/Index/login')}",
                type:'post',
                dataType:'json',
                data:login_data,
                success:function (result) {
                    if(result.result=='success'){
                        window.location.href=result.url;
                    }else if(result.result=='failure'){
                        swal({
                            title:"失败！",
                            text:"登陆失败，需要找回密码么？", 
                            type:"warning",
                            showCancelButton: true,
                            confirmButtonText: "找回密码",
                            cancelButtonText: "重试登陆"
                            },
                            function(conform) {
                                if(conform){
                                    window.location.href="{:U('/Authentication/Forgot/')}";
                                }
                            
                        });
                    }else if(result.result=='error'){
                        swal({
                            title:"错误！",
                            text:result.msg, 
                            type:"error"
                        });
                    }else{
                        swal("服务器错误！","请稍后再尝试或联系系统管理员", "error");
                    }
                },
                error:function () {
                    swal("服务器错误！","请稍后再尝试或联系系统管理员", "error");
                }
            });
        }else{
            swal({
                title:"提示",
                text:"请将账户信息填写完整！", 
                type:"info"
            },);
        }
    }
    function reg(){
        var username=document.getElementById('user').value;
        var password=document.getElementById('pwd').value;
        var re_password=document.getElementById('re_password').value;
        var mobile=document.getElementById('mobile').value;
        var qq=document.getElementById('qq').value;
        var email=document.getElementById('email').value;
        var truename=document.getElementById('truename').value;

        var is_email=email.search(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/);
        var mobile_length=mobile.length;
        var check=false;
        if( username && password && re_password && mobile && qq && email && truename){
            if(password == re_password){
                if(is_email != -1){
                    if(mobile.length>10){
                        check=true;
                    }else{
                        swal({
                            title:"手机不合法",
                            text:"请确认输入的手机号码是正确的！", 
                            type:"info"
                        },); 
                    }
                }else{
                    swal({
                        title:"邮箱不合法",
                        text:"请确认输入的邮箱是正确的！", 
                        type:"info"
                    },); 
                }
            }else{
                swal({
                    title:"密码不同",
                    text:"请确认两次输入的密码相同！", 
                    type:"info"
                },);
            }
        }else{
            swal({
                title:"提示",
                text:"请将信息填写完整！", 
                type:"info"
            },);
        }
        if(check){
            var reg_data= $("form").serialize();
            $.ajax({
                url:"{:U('/Authentication/Reg/registerpost')}",
                type:'post',
                dataType:'json',
                data:reg_data,
                success:function (result) {
                    if(result.result=='success'){
                        swal({
                            title:"成功！",
                            text:result.msg, 
                            type:"success"
                        },function(conform) {
                            if(conform){
                                window.location.href="{:U('/Authentication')}";
                            }
                        });
                    
                    }else if(result.result=='error'){
                        swal({
                            title:"错误！",
                            text:result.msg, 
                            type:"error"
                        });
                    }else{
                        swal("服务器错误！","请稍后再尝试或联系系统管理员", "error");
                    }
                },
                error:function () {
                    swal("服务器错误！","请稍后再尝试或联系系统管理员", "error");
                }
            });
        }
    }
    </script>
</head>
<body>
	<div class="login-content-box">
		<div class="login-input-box" style="height: auto">
			<div class="login-logo">
				<div class="login-title">
				<h1>注册 - 计协通行证</h1>
				</div>
			</div>
			<div class="login-input">
				<form method="POST"  name="regform" id="regform" class="login-input-name">
					<div class="login-user">
						<span class="login-user-span">
							<i class="fa fa-user"></i>
						</span>
					<input type="text" name="username" id="user" placeholder="请输入学号" value="{$username}" required>
					</div>
					<div class="login-user">
						<span class="login-user-span">
							<i class="fa fa-lock"></i>
                        </span>
                        <input type="password" name="password" id="pwd" placeholder="请输入密码"  value="{$password}"  required>
					</div>
                    <div class="login-user">
						<span class="login-user-span">
							<i class="fa fa-lock"></i>
                        </span>
                        <input type="password" name="re_password" id="re_password" placeholder="请重复密码" required>
                    </div>
                    
                    <div class="login-user">
						<span class="login-user-span">
							<i class="fa fa-phone-square"></i>
                        </span>
                        <input onkeyup="this.value=this.value.replace(/\D/g,'')"
                        onafterpaste="this.value=this.value.replace(/\D/g,'')" type="text" name="mobile" id="mobile" placeholder="请输入联系电话" required>
                    </div>
                    <div class="login-user">
						<span class="login-user-span">
							<i class="fa fa-qq"></i>
                        </span>
                        <input onkeyup="this.value=this.value.replace(/\D/g,'')"
                        onafterpaste="this.value=this.value.replace(/\D/g,'')" type="text" name="qq" id="qq" placeholder="请输入联系QQ" required>
                    </div>
                    <div class="login-user">
						<span class="login-user-span">
							<i class="fa fa-envelope-open"></i>
                        </span>
                        <input type="email" name="email" id="email" placeholder="请输入找回密码邮箱" required>
                    </div>
                    <div class="login-user">
						<span class="login-user-span">
							<i class="fa fa-address-card"></i>
                        </span>
                        <input type="text" name="truename" id="truename" placeholder="请输入你的姓名" required>
                    </div>
                    <div class="login-user">
						<span class="login-user-span">
							<i class="fa fa-address-card"></i>
                        </span>
                        <select name=major  style="width: 220px;height: 40px;">
                            <foreach name='majors' item='v'>
                                <option value ="{$v.mid}" >{$v.institute} - {$v.mname}</option>
                            </foreach>
                        </select>
                    </div>
                    <if condition="$ENABLE_GEETEST eq true">
					<div class="login-user">
    					    <div id="embed-captcha"></div>
    					    <p id="wait" class="show">正在加载验证码......</p>
    					    <p id="notice" class="hide">请先完成验证</p>
    				    </div>
                    </if>
    				<div class="login-btn-box">
    				    <input type="button" class="subpost" style="margin-top: 18px" onclick="reg();" id="embed-submit-reg" value="注册">
                    </div>
                    <div style="height: 60px"></div>
                    
				</form>

			</div>
			<p class='login-p'><a href="http://www.tianjinkun.com">&copy; TianJinkun</a></p>
		</div>
    </div>
    <script type='text/javascript' src='__PUBLIC__/js/jquery-2.1.1.min.js'></script>
    <script src="__PUBLIC__/js/sweetalert.min.js"></script>

    <if condition="$ENABLE_GEETEST eq true">
        
        <script src="__PUBLIC__/js/gt.js"></script>
        <script>
            var handlerEmbed = function (captchaObj) {
                $("#embed-submit").click(function (e) {
                    var validate = captchaObj.getValidate();
                    if (!validate) {
                        $("#notice")[0].className = "show";
                        setTimeout(function () {
                            $("#notice")[0].className = "hide";
                        }, 2000);
                        e.preventDefault();
                    }
                });
                // 将验证码加到id为captcha的元素里，同时会有三个input的值：geetest_challenge, geetest_validate, geetest_seccode
                captchaObj.appendTo("#embed-captcha");
                captchaObj.onReady(function () {
                    $("#wait")[0].className = "hide";
                });
                // 更多接口参考：http://www.geetest.com/install/sections/idx-client-sdk.html
            };
            $.ajax({
                // 获取id，challenge，success（是否启用failback）
                url: "{:U('/Authentication/Reg/StartCaptchaServlet',array('t'=>time()))}", // 加随机数防止缓存
                type: "get",
                dataType: "json",
                success: function (data) {
                    // 使用initGeetest接口
                    // 参数1：配置参数
                    // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
                    initGeetest({
                    	width: '198px',
                        https: true,
                        gt: data.gt,
                        challenge: data.challenge,
                        new_captcha: data.new_captcha,
                        product: "popup", // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
                        offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
                    }, handlerEmbed);
                }
            });
        </script>
    </if>
</body>
</html>
