<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title><empty name='edit'>新建<else/>编辑【{:isset($password['pw_name'])?$password['pw_name']:''}】</empty>密码 - {:C('SITE_NAME')}后花园</title>
  	<link rel="Shortcut Icon" type="image/x-icon" href="__PUBLIC__/images/favicon.ico" />
    <link rel="stylesheet" href="__PUBLIC__/css/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/css/public.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font-awesome.min.css"/>
    <link rel='stylesheet' href='__PUBLIC__/css/bootstrap.css' type='text/css' media='all' />
    <link rel='stylesheet' href='__PUBLIC__/css/code.css' type='text/css' media='all' />
    <script type='text/javascript' src='__PUBLIC__/js/jquery-2.1.1.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/js/bootstrap.js'></script>
    <script type='text/javascript' src='__PUBLIC__/js/autosize.js'></script>
    <script type='text/javascript' src='__PUBLIC__/js/passwordcheck.js'></script>

    <style type="text/css">
    
    .managersBox {
        position: absolute;
        left: 120px;
        margin: 0px 0px 0px 0px;
        width: 200px;
        background-color: #fdfdfd;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border: 1px solid #e7e7e7; 
        color: #333;
    }
    
    .managersList {
        margin: 0px;
        padding: 0px;
    }
    
    .managersList li {
        
        margin: 0px 0px 3px 0px;
        padding: 3px;
        cursor: pointer;
    }
    
    .managersList li:hover {
        background-color: #659CD8;
    }
</style>
</head>
<body onload="pre_checkpassword('MainPassword')">
<script type="text/javascript">
    function func_add_addition(){
        var trObj=document.createElement("tr");
        trObj.id=new Date().getTime();
        trObj.innerHTML="<td><input type='hidden' name='key_id[]' value='A'/><input name='key_name[]' required /></td><td > : </td><td><input name='key_value[]' required /></td><td><input type='button' value='添加' class='addButton' onclick='func_add_addition()'><input type='button'value='删除' class='delButton' onclick='func_del_addition(this)'></td>";
        document.getElementById("tb").appendChild(trObj);
    }
    function func_del_addition(obj){
        var trId=obj.parentNode.parentNode.id;
        var trObj=document.getElementById(trId);
        document.getElementById("tb").removeChild(trObj);
    }
    function manager_add(thisValue){
        if(document.getElementById('manager_'+thisValue[0])){
            alert('用户已加入该项目！');
            HideElement('ManagerBox');
            HideElement('ManagerList');
        }else{
            var trObj=document.createElement("tr");
            trObj.id='manager_'+thisValue[0];
            trObj.innerHTML=" \
            <td class=\"edit-project-user\">\
                <label  name='username'>"+thisValue[1]+"</label>\
                <input type=\"hidden\" name=\"managers_uids[]\" value=\""+thisValue[0]+"\" />\
            </td>\
            <td class=\"edit-project-user\"><label  name='major'>"+thisValue[2]+"</label></td>\
            <td class=\"edit-project-user\"><input type='button'value='删除' onclick=\"user_del(this,'managers_table')\"></td>";

            document.getElementById("managers_table").appendChild(trObj);

            member_label=document.getElementById("manager_table_head")  //查找元素
            member_label.innerHTML="<td>用户</td><td>部门</td>\
                                            <td >操作</td>";
            HideElement('ManagerBox');
            HideElement('ManagerList');
        }
        
    }
    function user_add(thisValue){
        if(document.getElementById('user_'+thisValue[0])){
            alert('用户已加入该项目！');
            HideElement('MamberBox');
            HideElement('MamberList');
        }else{
            var trObj=document.createElement("tr");
            trObj.id='user_'+thisValue[0];
            trObj.innerHTML=" \
            <td class=\"edit-project-user\">\
                <label  name='username'>"+thisValue[1]+"</label>\
                <input type=\"hidden\" name=\"members_uids[]\" value=\""+thisValue[0]+"\" />\
            </td>\
            <td class=\"edit-project-user\"><label  name='major'>"+thisValue[2]+"</label></td>\
            <td class=\"edit-project-user\"><input type='button'value='删除' onclick=\"user_del(this,'members_table')\"></td>";

            document.getElementById("members_table").appendChild(trObj);

            member_label=document.getElementById("members_table_head")  //查找元素
            member_label.innerHTML="<td>用户</td><td>部门</td>\
                                            <td >操作</td>";
            HideElement('MamberBox');
            HideElement('MamberList');
        }
        
    }
    function user_del(obj,table_id){
        var trId=obj.parentNode.parentNode.id;
        var trObj=document.getElementById(trId);
        document.getElementById(table_id).removeChild(trObj);
    }



    function HideElement(id){
        $("#"+id).hide();
    }

    function ShowElement(id){
        $("#"+id).show();
    }

    function userlookup(inputString,BoxId,ListId,call_func) {
        if(inputString.length == 0) {;
            HideElement(BoxId);
        } else {
            $.post("{:U('/Garden/User/AddUserHelp/')}", {queryString: ""+inputString+"",call_func: ""+call_func+""}, function(data){
                if(data.length >0) {
                    UserList=document.getElementById(ListId);
                    UserList.innerHTML=data;
                    ShowElement(ListId);
                    ShowElement(BoxId);
                }
            });
        }
    } 
        
    function managerfill(thisValue) {
        $('#managersinputString').val(thisValue);
         if(thisValue[0].length>0)
         {
            manager_add(thisValue);
            InputBox=document.getElementById('managersinputString');
            InputBox.value='';
            member_label=document.getElementById("manager_status")  //查找元素
            member_label.innerHTML="";
         }
    }
    function userfill(thisValue) {
        $('#usersinputString').val(thisValue);
         if(thisValue[0].length>0)
         {
            user_add(thisValue);
            InputBox=document.getElementById('usersinputString');
            InputBox.value='';
            member_label=document.getElementById("user_status")  //查找元素
            member_label.innerHTML="";
         }
    }
    function managerclear(BoxId,ListId){
    }
    function del_pass(){
            if(confirm("确定要删除吗？")){
                return true;
            }else{
                return false;
            }
        }
    function change_color(){
        var Check_Box=document.getElementById('checkbox_open_access');
        var lable_open_access=document.getElementById('lable_open_access');

        if (Check_Box.checked==true) {
            lable_open_access.style="color:red";
        }else{
            lable_open_access.style="color:black";
        }
    }
</script>
    <div class="container">
        <include file='Common:header'/>
        <div class="cgx-txt">
            <h1><i class="fa fa-edit"></i><empty name='edit'>新建<else/>编辑【{:isset($password['pw_name'])?$password['pw_name']:''}】</empty>密码</h1><br>     
            <div class="xrz-box">
                <form action="{:U('/Garden/Password/save',array('pw_prid' => $pr_id))}" method="post">
                    <empty name='edit'>
                        <input type="hidden" name="pw_prid" value="{$pr_id}">
                        <input type="hidden" name="add" value="1">
                    <else />
                        <input type="hidden" name="edit" value="1">
                        <input type="hidden" name="pw_id" value="{$password.pw_id}">
                    </empty>
                    <div class="xrz-input-box">
                        <label id="xrz-tit">密码名称:</label>
                        <input type="text" name="pw_name" value="{:isset($password['pw_name'])?$password['pw_name']:''}" required/>
                    </div>
                    <div class="xrz-input-box">
                        <label id="xrz-tit">密码概要:</label>
                        <input type="text" name="pw_brief" value="{:isset($password['pw_brief'])?$password['pw_brief']:''}" placeholder="公开显示的密码介绍，可选" />
                    </div>
                    <div class="xrz-input-box">
                        <label id="xrz-tit">所属项目:</label>

                        <select name=pw_prid>
                            <foreach name='all_project' item='v'>
                                <if condition="$v['pr_id'] eq '1'">

                                <elseif condition="$v['pr_id'] eq $pr_id" />
                                    <option value ="{$v.pr_id}" selected="selected">{$v.pr_name}</option>
                                <else />
                                    <option value ="{$v.pr_id}">{$v.pr_name}</option>
                                </if>
                            </foreach>
                        </select>
                    </div>
                    <div class="xrz-input-box">
                        <label id="xrz-tit">用户:</label>
                        <input type="text" name="username" value="{:isset($password['username'])?$password['username']:''}" required />
                    </div>
                    <div class="xrz-input-box">
                        <label id="xrz-tit">密码:</label>
                        <input type="text" name="password" value="{:isset($password['password'])?$password['password']:''}" id="MainPassword" onkeyup="pwStrength(this.value)" required/>
                            <ul class="pass_set">
                                <li id="strength_L">弱</li>
                                <li id="strength_M">中</li>
                                <li id="strength_H">强</li>
                            </ul>
                    </div>
                    <div class="plus-input-box">
                        <label id="xrz-tit">附加密码:</label>
                        <table class="plus-input-table">
                            <thead>
                                <tr margin="10">
                                    <td >字段名称</td>
                                    <td > </td>
                                    <td >字段内容</td>
                                    <td ><input type="button" class="topaddButton" value="添加" onclick="func_add_addition()"></td>
                                </tr>
                            </thead>
                            <tbody id="tb">
                            <notempty name='addition_password'>
                                <foreach name='addition_password' item='v'>
                                    <tr id="adt_{$v.addition_password_id}" margin="10">
                                        <td>
                                            <input type="hidden" name='key_id[]' value="{$v.addition_password_id}"/>
                                            <input width="70%" name='key_name[]' value="{$v.key_name}" required />
                                        </td><td > : </td>
                                        <td>
                                            <input width="70%" name='key_value[]' value="{$v.key_value}" required />
                                        </td>

                                        <td>
                                            <input type='button' value='添加' class="addButton" onclick='func_add_addition()'>
                                            <input type='button'value='删除' class="delButton" onclick='func_del_addition(this)'>
                                        </td>
                                    </tr>
                                </foreach>
                            </notempty>
                            </tbody>
                        </table>
                    </div>
                    <div> <!-- 添加密码管理员 -->
                        <div class="blog-text txt-srk">
                            <label id="xrz-tit">添加管理:</label>   <!-- 添加密码管理员 -->
                            <input type="text" size="30" value="" id="managersinputString" onkeyup="userlookup(this.value,'ManagerBox','ManagerList','manager');"/>
                        </div>
                        <div class="managersBox" id="ManagerBox" style="display: none;">    <!-- 用户提示框 -->
                            <div class="managersList" id="ManagerList">
                                &nbsp;
                            </div>
                        </div>
                        <div class="blog-text txt-srk"> <!-- 密码管理员 -->
                            <label id="xrz-tit">密码管理员:</label>
                            <label id="manager_status" class="edit-project-user-label">
                                <empty name="managers">暂无密码管理员</empty>
                            </label>
                            
                            <table class="edit-project-user">
                                <thead>
                                    <tr id="manager_table_head">
                                        <notempty name="managers">
                                            <td >用户</td>
                                            <td >部门</td>
                                            <td >操作</td>
                                        </notempty>
                                    </tr>
                                </thead>
                                    <tbody id="managers_table">
                                        <notempty name="managers">
                                            <foreach name='managers' item='v'>
                                                <tr id="manager_{$v.uid}">
                                                    <input type="hidden" name="managers_uids[]" value="{$v.uid}" />
                                                    <td class="edit-project-user">
                                                        <label  name="username">{$v.truename}</label>    
                                                    </td>
                                                    <td class="edit-project-user"><label  name="major">{$v.dname}</label></td>
                                                    <td class="edit-project-user"><input type="button"value="删除" onclick="user_del(this,'managers_table')"></td>
                                                </tr>
                                            </foreach>
                                        </notempty>
                                    </tbody>
                            </table>
                        </div>
                    </div>
                    <notempty name="password.open_access">
                        <div class="blog-text txt-srk">
                            <eq name="password.open_access" value="1">
                                <input type="checkbox" name="open_access" id="checkbox_open_access" value="1" onclick="change_color()" checked="checked" /><font id="lable_open_access" style="color: red"> 公开密码</font>
                            <else/>
                                <input type="checkbox" name="open_access" id="checkbox_open_access" value="1"  onclick="change_color()" /><font id="lable_open_access"> 公开密码</font>
                            </eq>
                        
                            
                        </div>
                        <div class="blog-text txt-srk">
                            <eq name="password.group_members_access" value="1">
                                <input type="checkbox" name="group_members_access" id="group_members_access" value="1" checked="checked" />允许项目成员查看
                            <else/>
                                <input type="checkbox" name="group_members_access" id="group_members_access" value="1"  />允许项目成员查看
                            </eq>
                    	</div>
                    <else />
                        <div class="blog-text txt-srk">
                            <input type="checkbox" name="open_access" id="checkbox_open_access" value="1"  onclick="change_color()" /><font id="lable_open_access"> 公开密码</font>
                        </div>
                        <div class="blog-text txt-srk">
                            <input type="checkbox" name="group_members_access" id="group_members_access" value="1"  />允许项目成员查看
                        </div>
                    </notempty>    
                    <div> <!-- 授权用户查看权限 -->
                        <div class="blog-text txt-srk">
                            <label id="xrz-tit">授权查看:</label>   <!-- 授权用户查看权限 -->
                            <input type="text" size="30" value="" id="usersinputString" onkeyup="userlookup(this.value,'MamberBox','MamberList','user');"/>
                        </div>
                        <div class="managersBox" id="MamberBox" style="display: none;">    <!-- 用户提示框 -->
                            <div class="managersList" id="MamberList">
                                &nbsp;
                            </div>
                        </div>
                        <div class="blog-text txt-srk"> <!-- 项目管理员 -->
                            <label id="xrz-tit">已授权:</label>
                            <label id="user_status" class="edit-project-user-label">
                                <empty name="members">暂无授权查看用户</empty>
                            </label>
                            
                            <table class="edit-project-user">
                                <thead>
                                    <tr id="members_table_head">
                                        <notempty name="members">
                                            <td >用户</td>
                                            <td >部门</td>
                                            <td >操作</td>
                                        </notempty>
                                    </tr>
                                </thead>
                                    <tbody id="members_table">
                                        <notempty name="members">
                                            <foreach name='members' item='v'>
                                                <tr id="user_{$v.uid}">
                                                    <input type="hidden" name="members_uids[]" value="{$v.uid}" />
                                                    <td class="edit-project-user">
                                                        <label  name="username">{$v.truename}</label>    
                                                    </td>
                                                    <td class="edit-project-user"><label  name="major">{$v.dname}</label></td>
                                                    <td class="edit-project-user"><input type="button"value="删除" onclick="user_del(this,'members_table')"></td>
                                                </tr>
                                            </foreach>
                                        </notempty>
                                    </tbody>
                            </table>
                        </div>
                    </div>
                    <notempty name="password.pw_id">
                        <div class="blog-text txt-srk">
                            <label id="xrz-tit">其他操作:</label>
                            <i class='fa fa-trash'></i><a href="{:U('/Garden/Password/del/',array('pw_id'=>$password['pw_id']))}" onclick='return del_pass();'>删除项目</a>
                        </div>
                    </notempty>
                    <div class="blog-text txt-srk">
                        <label id="xrz-tit">安全注释:</label>
                    </div>
                    <div class="blog-text txt-srk">
                        <textarea name="note">{:isset($username['note'])?$password['note']:''}</textarea>
                        <div class="btn-div">
                            <input type="submit" class="btn-box" id="back-button" value="保存">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script>autosize(document.querySelectorAll('textarea'));</script>
<script src="__PUBLIC__/js/index.js"></script>

</body>
</html>