<nav class="navbar navbar-default equinav navlist clearfix" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- <span class="navbar-brand"><a href="{:U('/Home/Index/index')}"><i class="fa fa-pencil-square"></i></a></span> -->
    </div>
    <div class="collapse navbar-collapse">
    <div class="nav-zoom">
        <ul class="nav navbar-nav">
            <li><a class="first-list" href="{:U('/Home/Index/index', array('p' => 0))}">项目</a></li>
            <li><a class="first-list" href="{:U('/Home/Personal/index')}">我的</a></li>
            <li><a href="{:U('/Home/BlackBoard/index')}">小黑板</a></li>
            <li><a href="{:U('/Home/Msg/index')}">碎语</a></li>
            
            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">新建<b class="caret"></b></a>
                <ul class="dropdown-menu depth_0">
                    <li><a href="{:U('/Home/Index/editproject')}">新建项目</a></li>
                    <li><a href="{:U('/Home/BlackBoard/add')}">新建小黑板</a></li>
                    <li><a href="{:U('/Home/Password/edit')}">新建项目密码</a></li>
                    <li><a href="{:U('/Home/Personal/edit')}">新建私人密码</a></li>
                </ul>
            </li>                    
            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">个人中心<b class="caret"></b></a>
                <ul class="dropdown-menu depth_0">
                        <li><a href="{:U('/Home/User/index')}">个人资料</a></li>
                        <li><a href="{:U('/Home/User/changgepwd')}">修改密码</a></li>
                </ul>
            </li>
            <if condition="session('admin') eq '2'">
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">管理<b class="caret"></b></a>
                    <ul class="dropdown-menu depth_0">
                        <li><a href="{:U('/Home/User/adduser')}">添加用户</a></li>
                        <li><a href="{:U('/Home/User/listuser')}">编辑用户</a></li>
                        <li><a href="{:U('/Home/Distribute/index')}">发布密码</a></li> 
                    </ul>
                </li>
            </if>
        </ul>
        <span class="nav-r-user"><?php echo session('name'); ?>，欢迎你！<a href="{:U('/Home/Index/logout')}">退出登录</a></span>
    </div>
    </div><!-- /.navbar-collapse -->
</nav>
