<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>查看预约记录 - {:C('SITE_NAME')}后花园</title>
  	<link rel="Shortcut Icon" type="image/x-icon" href="__PUBLIC__/images/favicon.ico" />
    <link rel="stylesheet" href="__PUBLIC__/css/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/css/public.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font-awesome.min.css"/>
    <link rel='stylesheet' href='__PUBLIC__/css/bootstrap.css' type='text/css' media='all' />
    <script type='text/javascript' src='__PUBLIC__/js/jquery-2.1.1.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/js/bootstrap.js'></script>
    <script type='text/javascript' src='__PUBLIC__/js/ajax.js'></script>
</head>
<body>
    <script type="text/javascript">
        var AddAppointmentComUrl = "{:U('/Appointment/Index/addcomment')}";
    </script>
    <div class="container">
        <include file='Common:header'/>
        <div class="cgx-txt">
                <h1>查看预约记录</h1>
                <div class="xrz-box">
                    <div class="xrz-input-box">
                        <label id="xrz-tit">姓名：</label>
                        <input type="text" name="guest_name" value="{$appointment.guest_name}" readonly="readonly" />
                    </div>
                    <div class="xrz-input-box">
                        <label id="xrz-tit">电话：</label>
                        <input type="text" name="guest_mobile" value="{$appointment.guest_mobile}" readonly="readonly" />
                    </div>
                    <div class="xrz-input-box">
                        <label id="xrz-tit">QQ：</label>
                        <input type="text" name="guest_qq" value="{$appointment.guest_qq}" readonly="readonly" />
                    </div>
                    <div class="xrz-input-box">
                        <label id="xrz-tit">时间：</label>
                        <input type="text" name="addtime" value="{$appointment.addtime|date='Y-m-d H:i', ###}" readonly="readonly" />
                    </div>
                    <div class="xrz-input-box"> <!-- 项目状态 -->
                        <label id="xrz-tit">状态:</label>
                        <select name='status'>
                            <if condition="$appointment['status'] eq '1' ">
                                <option value ="1" selected="selected">已预约</option>
                                <option value ="2">处理中</option>
                                <option value ="3">已处理</option>
                                <option value ="4">已取消</option>
                            <elseif condition="$appointment['status'] eq '2' "/>
                                <option value ="1">已预约</option>
                                <option value ="2" selected="selected">处理中</option>
                                <option value ="3">已处理</option>
                                <option value ="4">已取消</option>
                            <elseif condition="$appointment['status'] eq '3' "/>
                                <option value ="1">已预约</option>
                                <option value ="2">处理中</option>
                                <option value ="3" selected="selected">已处理</option>
                                <option value ="4">已取消</option>
                            <elseif condition="$appointment['status'] eq '4' "/>
                                <option value ="1">已预约</option>
                                <option value ="2">处理中</option>
                                <option value ="3">已处理</option>
                                <option value ="4" selected="selected">已取消</option>
                            </if>
                        </select>
                    </div>
                    <div class="blog-text txt-srk"> <!-- 故障描述 -->
                        <label id="xrz-tit">故障描述:</label>
                        <textarea name="pr_biref" style="height:80px" readonly="readonly">{$appointment.issues}</textarea>
                    </div>
                    <div class="blog-text txt-srk"> <!-- 故障描述 -->
                        <label id="xrz-tit">处理结果:</label>
                        <textarea name="pr_biref" style="height:80px" required disabled>{$appointment.result}</textarea>
                    </div>
                </div>
                <form action="{:U('/Garden/Appointment/select')}" method="post">
                    <div class="btn-div">
                        <input type="hidden" name="aid" value="{$appointment.aid}">
                        <input type="submit" class="btn-box" id="submit-button" value="我来处理！"/>
                    </div>
                </form>
                <notempty name='appointment.fixer_name'>
                    <h1>请给本次帮助你的{$appointment.fixer_name}同学一个评价</h1>
                    <foreach name='comments' item='v' key='i'>
                        <li>
                            <div class="rzck-txt-box">
                                <h2>{$v.guest_name}</h2>
                                <p>{$v.comment}</p>
                                <div align="right">
                                        <a href="{:U('/Garden/Index/dellog', array('log_id' => $v['log_id'],'pr_id'=>$v['log_prid']))}" onclick='return del();'><i class='fa fa-trash'></i>删除</a>
                                    <i class="fa fa-clock-o"></i>{$v.addtime|date='Y-m-d H:i', ###}
                                </div>
                            </div>
                        </li>
                    </foreach>
                    <div class="msg-edit">
                        <h3>添加评价</h3>
                        <textarea name="content"  cols="20" wrap="hard" required></textarea>
                        <input type="hidden" name="aid" value="{$appointment.aid}"/>
                        <input type="hidden" name="fixer_id" value="{$appointment.fixer_id}"/>
                        <input type="submit" class="msg-btn" id="AddAppointmentComBnt" id="submit-button" value="提&nbsp;&nbsp;交">
                    </div>
                </notempty>
        </div>
    </div>   
    <script src="__PUBLIC__/js/index.js"></script>
</body>
</html>