<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>我的密码 - {:C('SITE_NAME')}后花园</title>
  	<link rel="Shortcut Icon" type="image/x-icon" href="__PUBLIC__/images/favicon.ico" />
    <link rel="stylesheet" href="__PUBLIC__/css/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/css/public.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font-awesome.min.css"/>
    <link rel='stylesheet' href='__PUBLIC__/css/bootstrap.css' type='text/css' media='all' />
    <script type='text/javascript' src='__PUBLIC__/js/jquery-2.1.1.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/js/bootstrap.js'></script>
    <script type='text/javascript' src='__PUBLIC__/js/ajax.js'></script>
</head>
<body>

<script type="text/javascript">
function del(){
    if(confirm("确定要删除吗？")){
        return true;
    }
    else{
        return false;
    }
}
</script>
<div class="container">
    <include file='Common:header'/>
    <div id="info"></div>
    <div class="cgx-txt">
        <h3>个人中心<br></h3>

        <h1><i class="fa fa-list-ul"></i>我管理的项目<br></h1>
        <empty name='my_projects'>
            <li>
                <div class="rzck-txt-box">
                    <p>暂是没有我管理的项目</p>
                </div>
            </li>
        <else />
            <div class="cgx-sbox">
                <ul class="cgx-txt-box clearfix">
                    <foreach name='my_projects' item='v' key='i'>
                        <li>
                            <div class="cgx-sbox-top">                            
                                <a href="{:U('/Garden/Index/index', array('pr_id' => $v['pr_id']))}">
                                    <h1>{$v.pr_name}</h1>
                                    <p align="center">{$v.pr_brief}</p>
                                </a>
                            </div>
                            <div class="cgx-sbox-bottom">
                                <p>
                                    <span><a href="{:U('/Garden/Index/editproject', array('pr_id' => $v['pr_id']))}"><i class="fa fa-pencil"></i>编辑</a></span>
                                </p>
                            </div>
                        </li>
                    </foreach>
                </ul>
            </div>
        </empty>

        <h1><i class="fa fa-list-ul"></i>我加入的项目<br></h1>
        <empty name='my_join_projects'>
            <li>
                <div class="rzck-txt-box">
                    <p>暂是没有我加入的项目</p>
                </div>
            </li>
        <else />
            <div class="cgx-sbox">
                <ul class="cgx-txt-box clearfix">
                    <foreach name='my_join_projects' item='v' key='i'>
                        <li>
                            <div class="cgx-sbox-top">                            
                                <a href="{:U('/Garden/Index/index', array('pr_id' => $v['pr_id']))}">
                                    <h1>{$v.pr_name}</h1>
                                    <p align="center">{$v.pr_brief}</p>
                                </a>
                            </div>
                            <div class="cgx-sbox-bottom">
                                <p>
                                    <span><a href="{:U('/Garden/Index/editproject', array('pr_id' => $v['pr_id']))}"><i class="fa fa-pencil"></i>编辑</a></span>
                                </p>
                            </div>
                        </li>
                    </foreach>
                </ul>
            </div>
        </empty>


        <h1><i class="fa fa-list-ul"></i>我管理的密码<br></h1>
        <empty name='related_passwords'>
            <li>
                <div class="rzck-txt-box">
                    <p>暂是没有我管理的密码</p>
                </div>
            </li>
        <else />
            <div class="cgx-sbox">
                <ul class="cgx-txt-box clearfix">
                <foreach name='related_passwords' item='v'>
                    <li>
                        <div class="cgx-sbox-top">                            
                            <a href="{:U('/Garden/Password/view', array('pw_id' => $v['pw_id']))}">
                                <h1>{$v.pw_name}</h1>
                                <notempty name="v.pw_brief">
                                    <p align="center">{$v.pw_brief}</p>
                                <else />
                                    <p align="lift">&nbsp;&nbsp;用户：########<br>&nbsp;&nbsp;密码：########</p>
                                </notempty>
                            </a>
                        </div>
                        <div class="cgx-sbox-bottom">
                            <p>
                                <span><a href="{:U('/Garden/Password/edit', array('pw_id' => $v['pw_id']))}"><i class="fa fa-pencil"></i>编辑</a></span>
                            </p>
                        </div>
                    </li>
                </foreach>
                </ul>
            </div>
        </empty>
        <h1><i class="fa fa-list-ul"></i>分配给我的密码<br></h1>
        <empty name='distribute_passwords'>
            <li>
                <div class="rzck-txt-box">
                    <p>暂是没有分配给我的密码</p>
                </div>
            </li>
        <else />
            <div class="cgx-sbox">
                <ul class="cgx-txt-box clearfix">
                <foreach name='distribute_passwords' item='v'>
                    <li>
                        <div class="cgx-sbox-top">                            
                            <a href="{:U('/Garden/Personal/view', array('pw_id' => $v['pw_id']))}">
                                <h1>{$v.pw_name}</h1>
                                <notempty name="v.pw_brief">
                                    <p align="center">{$v.pw_brief}</p>
                                <else />
                                    <p align="lift">&nbsp;&nbsp;用户：########<br>&nbsp;&nbsp;密码：########</p>
                                </notempty>
                            </a>
                        </div>
                        <div class="cgx-sbox-bottom">
                            <p>
                                <span><i class="fa fa-user"></i>由
                                    <eq name='v.truename' value=''>
                                        未知用户
                                    <else/>
                                        <a href="{:U('/Garden/User/look',array('uid'=>$v['pw_cuser']))}" target="_blank">{$v.truename} </a>
                                    </eq>
                                    在{$v.pw_ctime|date='Y/m/d', ###}配发
                                </span>
                                <span><a href="{:U('/Garden/Personal/edit', array('pw_id' => $v['pw_id']))}"><i class="fa fa-pencil"></i>编辑</a></span>
                            </p>
                        </div>
                    </li>
                </foreach>
                </ul>
            </div>
        </empty>
        <h1><i class="fa fa-list-ul"></i>我的密码&nbsp;&nbsp;<span class="sha-add"><a href="{:U('/Garden/Personal/edit')}" title="添加私人密码" target="_blank"><i class="fa fa-plus"></i></a></span></h1>
        <empty name='personal_passwords'>
            <li>
                <div class="rzck-txt-box">
                    <p>暂是没有我的密码，点击上方“+”符号以添加新密码！</p>
                </div>
            </li>
        <else />
            <div class="cgx-sbox">
                <ul class="cgx-txt-box clearfix">
                <foreach name='personal_passwords' item='v'>
                    <li>
                        <div class="cgx-sbox-top">                            
                            <a href="{:U('/Garden/Personal/view', array('pw_id' => $v['pw_id']))}">
                                <h1>{$v.pw_name}</h1>
                                <notempty name="v.pw_brief">
                                    <p align="center">{$v.pw_brief}</p>
                                <else />
                                    <p align="lift">&nbsp;&nbsp;用户：########<br>&nbsp;&nbsp;密码：########</p>
                                </notempty>
                            </a>
                        </div>
                        <div class="cgx-sbox-bottom">
                            <p>
                                <span><a href="{:U('/Garden/Personal/edit', array('pw_id' => $v['pw_id']))}"><i class="fa fa-pencil"></i>编辑</a></span>
                            </p>
                        </div>
                    </li>
                </foreach>
                </ul>
            </div>
        </empty>
    </div>
</div>
<br><br><br>
<script type="">
    function geturl(){
        var text_obj = document.getElementById("page_url");
        var url = "/Garden/Index/index/p/"+text_obj.value;
        window.location.href=url;
    }
</script>
   
</body>
</html>