<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>密码详情 - {:C('SITE_NAME')}后花园</title>
  	<link rel="Shortcut Icon" type="image/x-icon" href="__PUBLIC__/images/favicon.ico" />
    <link rel="stylesheet" href="__PUBLIC__/css/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/css/public.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font-awesome.min.css"/>
    <link rel='stylesheet' href='__PUBLIC__/css/bootstrap.css' type='text/css' media='all' />
    <link rel="stylesheet" href="__PUBLIC__/css/code.css" type="text/css" media="all">
    <script type='text/javascript' src='__PUBLIC__/js/jquery-2.1.1.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/js/bootstrap.js'></script>
    <script type='text/javascript' src='__PUBLIC__/js/autosize.js'></script>
    <script type='text/javascript' src='__PUBLIC__/js/passwordcheck.js'></script>
</head>
<body onload="pre_checkpassword('MainPassword')">
    <div class="container">
        <include file='Common:header'/>
        <div class="cgx-txt">
            <h3>
                /<a href="{:U('/Garden/Personal/index')}" title="我的密码">我的密码</a>/{$password.pw_name}
            </h3>
            <h1><i class="fa fa-eye"></i>查看密码</h1>
            <div class="xrz-box">
                <form action="{:U('/Garden/Personal/index')}" method="post">
                    <div class="xrz-input-box">
                        <label id="xrz-tit">密码名称:</label>
                        <input type="text" name="pw_name" value="{$password.pw_name}" readonly="readonly" />
                    </div>
                    <notempty name="password.pw_brief">
                        <div class="xrz-input-box">
                            <label id="xrz-tit">密码概要:</label>{$password['pw_brief']}
                        </div>
                    </notempty>
                    <div class="xrz-input-box">
                        <label id="xrz-tit">用户:</label>
                        <input type="text" name="username" value="{$password.username}" readonly="readonly" />
                    </div>
                    <div class="xrz-input-box">
                        <label id="xrz-tit">密码:</label>
                        <a href="#" onclick="ChangeVisible('MainPassword')"> <i class="fa fa-eye-slash"  id="MainPasswordEye">查看</i></a>
                        <input type="password" name="password" value="{$password.password}" id="MainPassword" readonly="readonly" />
                        <ul class="pass_set">
                            <li id="strength_L">弱</li>
                            <li id="strength_M">中</li>
                            <li id="strength_H">强</li>
                        </ul>
                    </div>
                    <notempty name='addition_password'>
                        <foreach name='addition_password' item='v'>
                            <div class="xrz-input-box">
                                <label id="xrz-tit">{$v.key_name}:</label>
                                <input type="text" name="key_value[]" value="{$v.key_value}" readonly="readonly" />
                            </div>
                        </foreach>
                    </notempty>
                    <div class="blog-text txt-srk">
                        <label id="xrz-tit">安全注释:</label>
                    </div>
                    <div class="blog-text txt-srk">
                        <textarea name="note">{$password.note}</textarea>
                        <div class="btn-div">
                            <input type="submit" class="btn-box" id="back-button" value="返回">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        autosize(document.querySelectorAll('textarea'));
    </script>
    <script src="__PUBLIC__/js/index.js"></script>
</body>
</html>