<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<title>派发密码 - {:C('SITE_NAME')}后花园</title>
  	<link rel="Shortcut Icon" type="image/x-icon" href="__PUBLIC__/images/favicon.ico" />
	<link rel="stylesheet" href="__PUBLIC__/css/style.css" media="screen" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/css/public.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font-awesome.min.css"/>
	<link rel='stylesheet' href='__PUBLIC__/css/bootstrap.css' type='text/css' media='all' />
	<script type='text/javascript' src='__PUBLIC__/js/jquery-2.1.1.min.js'></script>
	<script type='text/javascript' src='__PUBLIC__/js/bootstrap.js'></script>
	<script type='text/javascript' src='__PUBLIC__/js/ajax.js'></script>
	<style type="text/css">
		.file-btn{
			padding: 6px 12px;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.5;
			text-align: center;
			vertical-align: center;
			user-select: none;
			background: #4cae4c;
			color: #fff;
			border-radius: 4px;
		}
		.dis-lable{
			padding: 10px 20px 0px 20px;
			font-weight: 400;
			font-size: 18px;
		}
	</style>
</head>
<body>
	<div class="container">
	<include file='Common:header'/>
		<div id="info"></div>
		<div class="cgx-txt">
			<h1 ><i class="fa fa-copy"></i>派发密码</h1>
			<div class="xrz-box">
				<form action="{:U('/Garden/Distribute/upload_excel')}" enctype="multipart/form-data" method="post">
					<label class="dis-lable">下载模板</label>
					<a class="file-btn" href="__PUBLIC__/Template/template.xlsx">下载</a><br>
					<div class="input-append">
						<label class="dis-lable">上传表格</label>
						<input id="lefile" type="file" name="img" style="display:none"> 
						<input id="photoCover" class="input-large" type="text" style="height:30px;" /> 
						<a class="file-btn" onclick="$('input[id=lefile]').click();">选择文件</a> 
					</div> 
				</form>
				<div class="btn-div">
					<input type="submit" class="btn-box" id="back-button" value="上传">
				</div>
			</div>
			
			<h1 ><i class="fa fa-copy"></i>我派发的密码</h1>
			<div class="xrz-box">
				<notempty name="password">
					<table width="100%" class="edit-project-user td">
						<thead>
							<tr>
								<td width="20%">姓名</td>
								<td>用户名/工号</td>
								<td>密码名称</td>
								<td>时间</td>
								<td>状态</td>
							</tr>
						</thead>
						<tbody>
							<foreach name="password" item="v">
								<tr>
									<td>{$v.truename}</td>
									<td>{$v.username}</td>
									<td>{$v.pw_name}</td>
									<td>{$v.pw_ctime|date='Y-m-d', ###}</td>
									<td>{$v.status}</td>
								</tr>
							</foreach>
						</tbody>
					</table>
				<else />
					<p>您还没有派发过密码</p>
				</notempty>
			</div>

			<div class="msg-page">
				<div class="page">{$page}</div>
			</div>
		</div>
	</div>
<script type="text/javascript"> 
	$('input[id=lefile]').change(function() { 
	$('#photoCover').val($(this).val()); 
}); 
</script> 
<script src="__PUBLIC__/js/index.js"></script>
</body>
</html>