<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>欢迎加入我们！ - {:C('SITE_NAME')}</title>
  	<link rel="Shortcut Icon" type="image/x-icon" href="__PUBLIC__/images/favicon.ico" />
    <link rel="stylesheet" href="__PUBLIC__/css/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/css/public.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font-awesome.min.css"/>
    <link rel='stylesheet' href='__PUBLIC__/css/bootstrap.css' type='text/css' media='all' />
    <script type='text/javascript' src='__PUBLIC__/js/jquery-2.1.1.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/js/bootstrap.js'></script>
</head>
<body>
    <div class="container">
        <include file='Common:header'/>
        <div class="vip-main cgx-txt">
            <h1 class="center-h1"><i class="fa fa-user"></i>{$recruit_name}-欢迎加入我们！</h1>
            <div class="recruit-content">
                <form action="{:U('/Appointment/Recruit/save')}"  enctype="multipart/form-data" method="post">
                    <div class="vip-txt-box">
                        <table>
                            <tr>
                                <td class="vip-title">学号：</td>
                                <td class="vip-input">
                                    <input type="text" name="username" value="<notempty name='recruit_info.username'>{$recruit_info.username}</notempty>" placeholder="请输入你的学号" required/></td>
                                    <input type="hidden" name="grade" value="{$grade}" />
                                </td>
                            </tr>
                            <tr>
                                <td class="vip-title">姓名：</td>
                                <td class="vip-input"><input type="text" name="truename" value="<notempty name='recruit_info.truename'>{$recruit_info.truename}</notempty>" placeholder="请输入你的名字" required/></td>
                            </tr>
                            <tr>
                                <td class="vip-title">电话：</td>
                                <td class="vip-input"><input type="text" name="mobile" value="<notempty name='recruit_info.mobile'>{$recruit_info.mobile}</notempty>" placeholder="请输入联系电话" required/></td>
                            </tr>
                            <tr>
                                <td class="vip-title">QQ：</td>
                                <td class="vip-input"><input type="text" name="qq" value="<notempty name='recruit_info.qq'>{$recruit_info.qq}</notempty>" placeholder="请输入联系QQ" required/></td>
                            </tr>
                            <tr>
                                <td class="vip-title">邮箱：</td>
                                <td class="vip-input"><input type="email" name="email" value="<notempty name='recruit_info.email'>{$recruit_info.email}</notempty>" placeholder="请输找回密码邮箱" required/></td>
                            </tr>
                            
                            <tr>
                                <td class="vip-title">签名：</td>
                                <td class="vip-input"><input type="text" name="flag" value="<notempty name='recruit_info.flag'>{$recruit_info.flag}</notempty>" placeholder="请输入你的个性签名" required/></td>
                            </tr>
                            <tr>
                                <td class="vip-title">GitHub：</td>
                                <td class="vip-input"><input type="text" name="github" value="<notempty name='recruit_info.github'>{$recruit_info.github}</notempty>" placeholder="[选填]你的GitHub地址，格式为网址如https://github.com/JinkunTian/"/></td>
                            </tr>
                            <tr>
                                <td class="vip-title">网站：</td>
                                <td class="vip-input"><input type="text" name="website" value="<notempty name='recruit_info.website'>{$recruit_info.website}</notempty>" placeholder="[选填]你的个人网站，格式为网址http://www.mecca.org.cn"/></td>
                            </tr>
                        <!--    <tr>
                                <td class="vip-title">寝室：</td>
                                <td class="vip-input"><input type="text" name="address" value="" placeholder="请输入你的寝室"/></td>
                            </tr> -->
                            <tr>
                                    <td class="vip-title">学院：</td>
                                    <td class="vip-input">
                                        <select name=college>
                                            <foreach name='institute' item='v'>
                                                <if condition="$v['mid'] eq $recruit_info['college']">
                                                    <option value ="{$v.institute}" selected="selected">{$v.institute}</option>
                                                <else />
                                                    <option value ="{$v.institute}" >{$v.institute}</option>
                                                </if>
                                            </foreach>
                                        </select>
                                    </td>
                                </tr>
                            <tr>
                                <td class="vip-title">专业：</td>
                                <td class="vip-input">
                                    <select name=major>
                                        <foreach name='majors' item='v'>
                                            <if condition="$v['mid'] eq $recruit_info['major']">
                                                <option value ="{$v.mid}" selected="selected">{$v.mname}</option>
                                            <else />
                                                <option value ="{$v.mid}" >{$v.mname}</option>
                                            </if>
                                        </foreach>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="vip-title">班级：</td>
                                <td class="vip-input"><input type="text" name="class" value="<notempty name='recruit_info.class'>{$recruit_info.class}</notempty>" placeholder="如：1班" required="required" /></td>
                            </tr>
                            <tr>
                                <td class="vip-title">意向：</td>
                                <td class="vip-input">
                                    <select name=dep>
                                        <foreach name='departments' item='v'>
                                            <notempty name='recruit_info.dep'>
                                                <if condition="$v['did'] eq $recruit_info['dep']">
                                                    <option value ="{$v.did}" selected="selected">{$v.dname}</option>
                                                <else />
                                                    <option value ="{$v.did}" >{$v.dname}</option>
                                                </if>
                                                <else />
                                                <option value ="{$v.did}" >{$v.dname}</option>
                                                </notempty>
                                        </foreach>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="vip-img-box">
                        <span class="vip-img">
                            <img src="<notempty name='recruit_info.img'>{$recruit_info.img}</notempty>" alt="">
                            <input type="file" name="img" class="file-btn"/>
                            <span class="span-btn"><i class="fa fa-cloud-upload"></i>上传(最大{:C('MAX_PHOTO_POST_SIZE')/1024/1024}MB)</span>
                        </span>
                    </div>
                    <div class="vip-text">
                        <table>
                            <tr>
                                <td class="vip-title">个人简介：</td>
                                <td class="vip-input"><textarea name="info" required placeholder="讲讲你的爱好、特长，你与计算机之间的故事，向大家介绍一下自己。"><notempty name='recruit_info.info'>{$recruit_info.info}</notempty></textarea></td>
                            </tr>
                        </table>
                    </div>
                <div class="vip-text">
                        <table>
                            <tr>
                                <td class="vip-title">入会申请：</td>
                                <td class="vip-input"><textarea name="apply" required placeholder="讲讲你为什么想加入计算机协会。"><notempty name='recruit_info.apply'>{$recruit_info.apply}</notempty></textarea></td>
                            </tr>
                            <tr>
                                    <td>
                                        <if condition="$ENABLE_GEETEST eq true">
                                            验证码
                                        </if>
                                    </td>
                                    <td>
                                        <if condition="$ENABLE_GEETEST eq true">
                                            <div id="embed-captcha" style="width: 100%"></div>
                                            <p id="wait" class="show">正在加载验证码......</p>
                                            <p id="notice" class="hide">请先完成验证</p>
                                        </if>
                                    </td>
                                </tr>
                            <tr>
                                <td></td>
                                <input type="hidden" name="uid" value="{$v.uid}"/>
                                <td class="vip-input"><input type="submit" class="vip-btn" id="submit-button" value="提&nbsp;&nbsp;交"></td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/index.js"></script>
    <if condition="$ENABLE_GEETEST eq true">
        <script type='text/javascript' src='__PUBLIC__/js/jquery-2.1.1.min.js'></script>
        <script src="__PUBLIC__/js/gt.js"></script>
        <script>
            var handlerEmbed = function (captchaObj) {
                $("#embed-submit").click(function (e) {
                    var validate = captchaObj.getValidate();
                    if (!validate) {
                        $("#notice")[0].className = "show";
                        setTimeout(function () {
                            $("#notice")[0].className = "hide";
                        }, 2000);
                        e.preventDefault();
                    }
                });
                // 将验证码加到id为captcha的元素里，同时会有三个input的值：geetest_challenge, geetest_validate, geetest_seccode
                captchaObj.appendTo("#embed-captcha");
                captchaObj.onReady(function () {
                    $("#wait")[0].className = "hide";
                });
                // 更多接口参考：http://www.geetest.com/install/sections/idx-client-sdk.html
            };
            $.ajax({
                // 获取id，challenge，success（是否启用failback）
                url: "{:U('/Appointment/Recruit/StartCaptchaServlet',array('t'=>time()))}", // 加随机数防止缓存
                type: "get",
                dataType: "json",
                success: function (data) {
                    //console.log(data);
                    // 使用initGeetest接口
                    // 参数1：配置参数
                    // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
                    initGeetest({
                        width: '388px',
                        https: true,
                        gt: data.gt,
                        challenge: data.challenge,
                        new_captcha: data.new_captcha,
                        product: "popup", // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
                        offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
                    }, handlerEmbed);
                }
            });
        </script>
    </if>
</body>
</html>
