<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>欢迎加入我们！ - {:C('SITE_NAME')}</title>
  	<link rel="Shortcut Icon" type="image/x-icon" href="__PUBLIC__/images/favicon.ico" />
    <link rel="stylesheet" href="__PUBLIC__/css/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/css/public.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/cropper/cropper.min.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/cropper/ImgCropping.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font-awesome.min.css"/>
    <link rel='stylesheet' href='__PUBLIC__/css/bootstrap.css' type='text/css' media='all' />
    <link rel='stylesheet' href='__PUBLIC__/css/sweetalert.css' type='text/css' media='all' />
    <script type='text/javascript' src='__PUBLIC__/js/jquery-2.1.1.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/js/sweetalert.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/js/bootstrap.js'></script>
    <script type="text/javascript">
        function submit_form(){
            var cont = $("#ajax_input").serialize();
            $.ajax({
                url:"{:U('/Appointment/Recruit/save')}",
                type:'post',
                data:cont,
                success:function (result) {
                    if(result.result=='success'){
                        swal({
                            title:"成功！",
                            text:result.msg, 
                            type:"success"},

                            function(conform) {
                            window.location.href="{:U('/Appointment/Recruit')}";
                        });
                    }else if(result.result=='failure'){
                        swal("出错！", result.msg, "error");
                    }else{
                        swal("服务器错误！","请稍后再尝试或联系系统管理员", "error");
                    }
                },
                error:function () {
                    swal("服务器错误！","请稍后再尝试或联系系统管理员", "error");
                }
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <include file='Common:header'/>
        <div class="vip-main cgx-txt">
            <h1 class="center-h1"><i class="fa fa-user"></i>{$recruit_name}-欢迎加入我们！</h1>
            <div class="recruit-content">
                <form action="" id="ajax_input" enctype="multipart/form-data" method="post">
                    <div class="vip-txt-box">
                        <table>
                            <tr>
                                <td class="vip-title">学号：</td>
                                <td class="vip-input">
                                    <input type="text" name="username" value="<notempty name='recruit_info.username'>{$recruit_info.username}</notempty>" placeholder="请输入你的学号" required/></td>
                                    <input type="hidden" name="grade" value="{$grade}" />
                                </td>
                            </tr>
                            <tr>
                                <td class="vip-title">姓名：</td>
                                <td class="vip-input"><input type="text" name="truename" value="<notempty name='recruit_info.truename'>{$recruit_info.truename}</notempty>" placeholder="请输入你的名字" required/></td>
                            </tr>
                            <tr>
                                <td class="vip-title">电话：</td>
                                <td class="vip-input"><input type="text" name="mobile" value="<notempty name='recruit_info.mobile'>{$recruit_info.mobile}</notempty>" placeholder="请输入联系电话" required/></td>
                            </tr>
                            <tr>
                                <td class="vip-title">QQ：</td>
                                <td class="vip-input"><input type="text" name="qq" value="<notempty name='recruit_info.qq'>{$recruit_info.qq}</notempty>" placeholder="请输入联系QQ" required/></td>
                            </tr>
                            <tr>
                                <td class="vip-title">邮箱：</td>
                                <td class="vip-input"><input type="email" name="email" value="<notempty name='recruit_info.email'>{$recruit_info.email}</notempty>" placeholder="请输找回密码邮箱" required/></td>
                            </tr>
                            
                            <tr>
                                <td class="vip-title">签名：</td>
                                <td class="vip-input"><input type="text" name="flag" value="<notempty name='recruit_info.flag'>{$recruit_info.flag}</notempty>" placeholder="请输入你的个性签名" required/></td>
                            </tr>
                            <tr>
                                <td class="vip-title">GitHub：</td>
                                <td class="vip-input"><input type="text" name="github" value="<notempty name='recruit_info.github'>{$recruit_info.github}</notempty>" placeholder="[选填]你的GitHub地址，格式为网址如https://github.com/JinkunTian/"/></td>
                            </tr>
                            <tr>
                                <td class="vip-title">网站：</td>
                                <td class="vip-input"><input type="text" name="website" value="<notempty name='recruit_info.website'>{$recruit_info.website}</notempty>" placeholder="[选填]你的个人网站，格式为网址http://www.mecca.org.cn"/></td>
                            </tr>
                        <!--    <tr>
                                <td class="vip-title">寝室：</td>
                                <td class="vip-input"><input type="text" name="address" value="" placeholder="请输入你的寝室"/></td>
                            </tr> -->
                            <tr>
                                    <td class="vip-title">学院：</td>
                                    <td class="vip-input">
                                        <select name=college>
                                            <foreach name='institute' item='v'>
                                                <if condition="$v['institute'] eq $recruit_info['college']">
                                                    <option value ="{$v.institute}" selected="selected">{$v.institute}</option>
                                                <else />
                                                    <option value ="{$v.institute}" >{$v.institute}</option>
                                                </if>
                                            </foreach>
                                        </select>
                                    </td>
                                </tr>
                            <tr>
                                <td class="vip-title">专业：</td>
                                <td class="vip-input">
                                    <select name=major>
                                        <foreach name='majors' item='v'>
                                            <if condition="$v['mid'] eq $recruit_info['major']">
                                                <option value ="{$v.mid}" selected="selected">{$v.mname}</option>
                                            <else />
                                                <option value ="{$v.mid}" >{$v.mname}</option>
                                            </if>
                                        </foreach>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="vip-title">班级：</td>
                                <td class="vip-input"><input type="text" name="class" value="<notempty name='recruit_info.class'>{$recruit_info.class}</notempty>" placeholder="如：1班" required="required" /></td>
                            </tr>
                            <tr>
                                <td class="vip-title">意向：</td>
                                <td class="vip-input">
                                    <select name=dep>
                                        <foreach name='departments' item='v'>
                                            <notempty name='recruit_info.dep'>
                                                <if condition="$v['did'] eq $recruit_info['dep']">
                                                    <option value ="{$v.did}" selected="selected">{$v.dname}</option>
                                                <else />
                                                    <option value ="{$v.did}" >{$v.dname}</option>
                                                </if>
                                                <else />
                                                <option value ="{$v.did}" >{$v.dname}</option>
                                                </notempty>
                                        </foreach>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="vip-img-box">
                        <span class="vip-img">
                            <img id="finalImg" src="<notempty name='recruit_info.img'>__PUBLIC__{$recruit_info.img}</notempty>" alt="">
                            <input type="file" accept="image/jpg,image/jpeg,image/png" name="file" id="chooseImg" class="hidden" onchange="selectImg(this)" />
                            <label title="上传图片" for="chooseImg" class="l-btn choose-btn">上传本人照片</label>
                        </span>
                    </div>
                    <!--图片裁剪框 start-->
                    <div style="display: none" class="tailoring-container">
                        <div class="black-cloth" onclick="closeTailor(this)"></div>
                        <div class="tailoring-content">
                            <div class="tailoring-content-one">
            
                                <div class="close-tailoring" onclick="closeTailor(this)">×</div>
                            </div>
            
                            <div class="tailoring-content-two">
                                <div class="tailoring-box-parcel">
                                    <img id="tailoringImg">
                                </div>
                                <div class="preview-box-parcel">
                                    <p>图片预览：</p>
                                    <div class="square previewImg"></div>
                                    <!--  <div class="circular previewImg"></div>-->
                                </div>
                            </div>
            
                            <div class="tailoring-content-three">
                                <button class="l-btn cropper-reset-btn">复位</button>
                                <button class="l-btn cropper-rotate-btn">旋转</button>
                                <button class="l-btn cropper-scaleX-btn">换向</button>
                                <button class="l-btn sureCut" id="sureCut">确定</button>
                            </div>
                        </div>
                    </div>
                    <!--图片裁剪框 end-->
                    <div class="vip-text">
                        <table>
                            <tr>
                                <td class="vip-title">个人简介：</td>
                                <td class="vip-input"><textarea name="info" required placeholder="讲讲你的爱好、特长，你与计算机之间的故事，向大家介绍一下自己。"><notempty name='recruit_info.info'>{$recruit_info.info}</notempty></textarea></td>
                            </tr>
                            <tr>
                                <td class="vip-title">入会申请：</td>
                                <td class="vip-input"><textarea name="apply" required placeholder="讲讲你为什么想加入计算机协会。"><notempty name='recruit_info.apply'>{$recruit_info.apply}</notempty></textarea></td>
                            </tr>
                        </table>
                    </div>
                    <div class="vip-text">
                        <table>
                            
                        
                            <tr>
                                <td>
                                    <if condition="$ENABLE_GEETEST eq true">
                                        验证码：
                                    </if>
                                </td>
                                <td>
                                    <if condition="$ENABLE_GEETEST eq true">
                                        <div id="embed-captcha" style="width: 100%"></div>
                                        <p id="wait" class="show">正在加载验证码......</p>
                                        <p id="notice" class="hide">请先完成验证</p>
                                    </if>
                                </td>
                            </tr>
                            <tr>
                                <td><div style="width: 60px;"></div></td>
                                <input type="hidden" name="uid" value="{$v.uid}"/>
                                <td class="vip-input"><input type="button" class="vip-btn"   onclick="submit_form(this)" id="submit-button" value="提&nbsp;&nbsp;交"></td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/index.js"></script>
    <if condition="$ENABLE_GEETEST eq true">
        <script type='text/javascript' src='__PUBLIC__/js/jquery-2.1.1.min.js'></script>
        <script src="__PUBLIC__/js/gt.js"></script>
        <script>
            var handlerEmbed = function (captchaObj) {
                $("#embed-submit").click(function (e) {
                    var validate = captchaObj.getValidate();
                    if (!validate) {
                        $("#notice")[0].className = "show";
                        setTimeout(function () {
                            $("#notice")[0].className = "hide";
                        }, 2000);
                        e.preventDefault();
                    }
                });
                // 将验证码加到id为captcha的元素里，同时会有三个input的值：geetest_challenge, geetest_validate, geetest_seccode
                captchaObj.appendTo("#embed-captcha");
                captchaObj.onReady(function () {
                    $("#wait")[0].className = "hide";
                });
                // 更多接口参考：http://www.geetest.com/install/sections/idx-client-sdk.html
            };
            $.ajax({
                // 获取id，challenge，success（是否启用failback）
                url: "{:U('/Appointment/Recruit/StartCaptchaServlet',array('t'=>time()))}", // 加随机数防止缓存
                type: "get",
                dataType: "json",
                success: function (data) {
                    //console.log(data);
                    // 使用initGeetest接口
                    // 参数1：配置参数
                    // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
                    initGeetest({
                        width: '180px',
                        https: true,
                        gt: data.gt,
                        challenge: data.challenge,
                        new_captcha: data.new_captcha,
                        product: "popup", // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
                        offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
                    }, handlerEmbed);
                }
            });
        </script>
    </if>


    <!-- Cooper -->
    <script src="__PUBLIC__/cropper/cropper.min.js"></script>
    <script type="text/javascript">  
        //弹出框水平垂直居中  
        (window.onresize = function() {  
            var win_height = $(window).height();  
            var win_width = $(window).width();  
            if (win_width <= 768) {  
                $(".tailoring-content").css(  
                        {  
                            "top" : (win_height - $(".tailoring-content")  
                                    .outerHeight()) / 2,  
                            "left" : 0  
                        });  
            } else {  
                $(".tailoring-content").css(  
                        {  
                            "top" : (win_height - $(".tailoring-content")  
                                    .outerHeight()) / 2,  
                            "left" : (win_width - $(".tailoring-content")  
                                    .outerWidth()) / 2  
                        });  
            }  
        })();  
          
        // 选择文件触发事件  
        function selectImg(file) {  
            //文件为空，返回  
            if (!file.files || !file.files[0]) {  
                return;  
            }  
            $(".tailoring-container").toggle();  
            var reader = new FileReader();  
            reader.onload = function(evt) {  
                var replaceSrc = evt.target.result;  
                // 更换cropper的图片  
                $('#tailoringImg').cropper('replace', replaceSrc, false);// 默认false，适应高度，不失真  
            }  
            reader.readAsDataURL(file.files[0]);  
        }  
        // cropper图片裁剪  
        $('#tailoringImg').cropper({  
            aspectRatio : 3 / 4,// 默认比例  
            preview : '.previewImg',// 预览视图  
            guides : false, // 裁剪框的虚线(九宫格)  
            autoCropArea : 0.5, // 0-1之间的数值，定义自动剪裁区域的大小，默认0.8  
            movable : false, // 是否允许移动图片  
            dragCrop : true, // 是否允许移除当前的剪裁框，并通过拖动来新建一个剪裁框区域  
            movable : true, // 是否允许移动剪裁框  
            resizable : true, // 是否允许改变裁剪框的大小  
            zoomable : false, // 是否允许缩放图片大小  
            mouseWheelZoom : false, // 是否允许通过鼠标滚轮来缩放图片  
            touchDragZoom : true, // 是否允许通过触摸移动来缩放图片  
            rotatable : true, // 是否允许旋转图片  
            crop : function(e) {  
                // 输出结果数据裁剪图像。  
            }  
        });  
        // 旋转  
        $(".cropper-rotate-btn").on("click", function() {  
            $('#tailoringImg').cropper("rotate", 45);  
        });  
        // 复位  
        $(".cropper-reset-btn").on("click", function() {  
            $('#tailoringImg').cropper("reset");  
        });  
        // 换向  
        var flagX = true;  
        $(".cropper-scaleX-btn").on("click", function() {  
            if (flagX) {  
                $('#tailoringImg').cropper("scaleX", -1);  
                flagX = false;  
            } else {  
                $('#tailoringImg').cropper("scaleX", 1);  
                flagX = true;  
            }  
            flagX != flagX;  
        });  
          
        // 确定按钮点击事件  
        $("#sureCut").on("click", function() {  
            if ($("#tailoringImg").attr("src") == null) {  
                return false;  
            } else {  
                var cas = $('#tailoringImg').cropper('getCroppedCanvas');// 获取被裁剪后的canvas  
                var base64 = cas.toDataURL('image/jpeg'); // 转换为base64  
          
                    $("#finalImg").prop("src", base64);// 显示图片  
                uploadFile(encodeURIComponent(base64))//编码后上传服务器  
                closeTailor();// 关闭裁剪框  
            }  
        });  
        
        // 关闭裁剪框  
        function closeTailor() {  
            $(".tailoring-container").toggle();  
        }  
        
        //ajax请求上传  
        function uploadFile(file) {  
            $.ajax({  
                url : '/Appointment/Recruit/save_img',  
                type : 'POST',  
                data : "file=" + file,  
                async : true,  
                success : function(data) {  
                    console.log(data)  
                }  
            });  
        }  
    </script>  
    
    
</body>
</html>
