<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>项目信息</title>
    <link rel="stylesheet" href="__PUBLIC__/css/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/css/public.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font-awesome.min.css"/>
    <link rel='stylesheet' href='__PUBLIC__/css/bootstrap.css' type='text/css' media='all' />
    <script type='text/javascript' src='__PUBLIC__/js/jquery-2.1.1.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/js/bootstrap.js'></script>
    <script type='text/javascript' src='__PUBLIC__/js/ajax.js'></script>
</head>
<body>

<script type="text/javascript">
    var AddLogUrl = "{:U('/Home/Index/addlog')}";
function del(){
    if(confirm("确定要删除吗？")){
        return true;
    }
    else{
        return false;
    }
}
</script>

    <div class="container">
        <include file='Common:header'/>

        <div id="info"></div>
        <div class="cgx-txt">
        <h3>  {$ProjectTitle}<br></h3>
<!--         项目详情           -->
        <h1>项目详情<br></h1>
        <empty name='project_info'>
            <li>
                <div class="rzck-txt-box">
                    <p>暂未填写项目详情</p>
                </div>
            </li>
        <else/>
        <div class="rzck-txt-box">
            <p>{$project_info}</p>
        </div>
        </empty>
<!--         成员信息           -->
        <empty name='isroot'>
            <notempty name='members'>
                <h1>项目成员<br></h1>
                <div class="blog-user">
                <foreach name='members' item='v'>
                    <span  class="randcolor"><a href=""><eq name='v.0.truename' value=''>未知用户<else/>{$v.0.truename}</eq></a></span>
                </foreach>
                </div>
            </notempty>
        </empty>
<!--         子项目信息           -->
        <h1>子项目<br></h1> 
            <empty name='projects'>
                <div class="rzck-txt-box">
                    <p>暂无子项目</p>
                </div>
            </empty> 

            <div class="cgx-sbox">
                <ul class="cgx-txt-box clearfix">
                <foreach name='projects' item='v' key='i'>
                    <li>
                        <div class="cgx-sbox-top">                            
                            <a href="{:U('/Home/Password/index', array('pr_id' => $v['pr_id']))}">
                                <h1>{$v.pr_name}</h1>
                                <p align="center">{$v.pr_biref}<?php echo $color[rand(0,10)]?></p>
                            </a>
                        </div>
                        <div class="cgx-sbox-bottom">
                            <p>
                            <span><i class="fa fa-user"></i>由<eq name='v.cuser_info.0.truename' value=''>未知用户<else/>{$v.cuser_info.0.truename}</eq>创建</span><!--{$v.pr_ctime|date='Y-m-d', ###}-->
                            <span><i class="fa fa-user"></i>由<eq name='v.muser_info.0.truename' value=''>未知用户<else/>{$v.muser_info.0.truename}</eq>管理</span>
                            <if condition="$v.right eq true">
                                <span><a href="{:U('/Home/Index/editproject', array('pr_id' => $v['pr_id']))}"><i class="fa fa-pencil"></i>编辑</a></span>
                            </if>
                            </p>
                        </div>
                    </li>
                </foreach>
                </ul>
            </div>
        <empty name='isroot'>
            <h1>项目密码<br></h1>
                <empty name='password'>
                    <li>
                        <div class="rzck-txt-box">
                            <p>暂无密码</p>
                        </div>
                    </li>
                </empty>
                <div class="cgx-sbox">
                <ul class="cgx-txt-box clearfix">
                <foreach name='password' item='v' key='i'>
                    <li>
                        <div class="cgx-sbox-top">                            
                            <a href="{:U('/Home/Password/info', array('pw_id' => $v['pw_id']))}">
                                <h1>{$v.pw_name}</h1>
                                <p align="lift">&nbsp;&nbsp;用户：########<br>&nbsp;&nbsp;密码：########<?php echo $color[rand(0,10)]?></p>
                            </a>
                        </div>
                        <div class="cgx-sbox-bottom">
                            <p>
                            <span><i class="fa fa-user"></i>由<eq name='v.cuser_info.0.truename' value=''>未知用户<else/>{$v.cuser_info.0.truename}</eq>创建</span><!--{$v.pr_ctime|date='Y-m-d', ###}-->
                            <span><i class="fa fa-user"></i>由<eq name='v.muser_info.0.truename' value=''>未知用户<else/>{$v.muser_info.0.truename}</eq>管理</span>
                            <if condition="$v.right eq true">
                                <span><a href="{:U('/Home/Password/edit', array('pw_id' => $v['pw_id']))}"><i class="fa fa-pencil"></i>编辑</a></span>
                            </if>
                            </p>
                        </div>
                    </li>
                </foreach>
                </ul>
            </div>
            <div class="msg-edit">
                        <h3>添加密码</h3>
                        <textarea name="content"  cols="20" wrap="hard" required></textarea>
                        <input type="hidden" name="prid" value="{$prid}"/>
                        <input type="submit" class="msg-btn" id="AddLogBnt" id="submit-button" value="提&nbsp;&nbsp;交">
                </div>
        </empty>
    </div>
</div>
<br><br><br>
<script type="">
    function geturl(){
        var text_obj = document.getElementById("page_url");
        var url = "/Home/Index/index/p/"+text_obj.value;
        window.location.href=url;
    }
</script>
   
</body>
</html>