<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>成员资料 - {:C('SITE_NAME')}后花园</title>
  	<link rel="Shortcut Icon" type="image/x-icon" href="__PUBLIC__/images/favicon.ico" />
    <link rel="stylesheet" href="__PUBLIC__/css/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/css/public.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font-awesome.min.css"/>
    <link rel='stylesheet' href='__PUBLIC__/css/bootstrap.css' type='text/css' media='all' />
    <script type='text/javascript' src='__PUBLIC__/js/jquery-2.1.1.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/js/bootstrap.js'></script>
</head>
<body>
    <div class="container">
        <include file='Common:header'/>
        <div class="vip-main cgx-txt">
            <h1 class="center-h1"><i class="fa fa-user"></i>修改资料</h1>
            <div class="recruit-content">
                <form action="{:U('/Garden/Usermanage/datapost')}"  enctype="multipart/form-data" method="post">
                    <foreach name="user_data" item="v">
                        <div class="vip-txt-box">
                            <table>
                                <!----设置一个随机变量加在input name属性中，防止浏览器自动填充--->
								<input type="hidden" name="random" value="{$random}">
                                <tr>
                                    <td class="vip-title">工号：</td>
                                    <td class="vip-input">{$v.username}</td>
                                    <input type="hidden" name="uid" value="{$v.uid}"/>
                                </tr>
                                <tr>
                                    <td class="vip-title">姓名：</td>
                                    <td class="vip-input"><input type="text" name="truename_{$random}" value="{$v.truename}" required/></td>
                                </tr>
                                <tr>
                                    <td class="vip-title">权限：</td>
                                    <td class="vip-input">
                                        <select name="type_{$random}">
                                                <if condition="$v['type'] eq '2' ">
                                                    <option value ="1" >用户</option>
                                                    <option value ="2" selected="selected">管理员</option>
                                                <else />
                                                    <option value ="1" selected="selected">用户</option>
                                                    <option value ="2" >管理员</option>
                                                </if>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="vip-title">电话：</td>
                                    <td class="vip-input"><input type="text" name="mobile_{$random}" value="{$v.mobile}" required/></td>
                                </tr>
                                <tr>
                                    <td class="vip-title">QQ：</td>
                                    <td class="vip-input"><input type="text" name="qq_{$random}" value="{$v.qq}" required/></td>
                                </tr>
                                <tr>
                                    <td class="vip-title">邮箱：</td>
                                    <td class="vip-input"><input type="text" name="email_{$random}" value="{$v.email}" required/></td>
                                </tr>
                                <tr>
                                    <td class="vip-title">专业：</td>
                                    <td class="vip-input">
                                        <select name="major_{$random}">
                                            <foreach name="majors" item="z">
                                                <if condition="$z['mid'] eq $v['major']">
                                                    <option value ="{$z.mid}" selected="selected">{$z.mname}</option>
                                                <else />
                                                    <option value ="{$z.mid}">{$z.mname}</option>
                                                </if>
                                            </foreach>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="vip-title">部门：</td>
                                    <td class="vip-input">
                                        <select name="dep_{$random}">
                                            <foreach name="departments" item="z">
                                                <if condition="$z['did'] eq $v['dep']">
                                                    <option value ="{$z.did}" selected="selected">{$z.dname}</option>
                                                <else />
                                                    <option value ="{$z.did}">{$z.dname}</option>
                                                </if>
                                            </foreach>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="vip-title">职位：</td>
                                    <td class="vip-input"><input type="text" name="position_{$random}" value="{$v.position}" required/></td>
                                </tr>
                                <tr>
                                    <td class="vip-title">密码：</td>
                                    <td class="vip-input">
										<input type="text" name="password_{$random}" value="" placeholder="留空则不修改密码" />
									</td>
                                </tr>
                                <tr>
                                    <td class="vip-title">操作：</td>
                                    <td class="vip-input">
                                        <a href="{:U('/garden/usermanage/retireuser',array('uid'=>$v['uid']))}">标记为干部卸任</a>
                                        <a href="{:U('/garden/usermanage/reneging_post',array('uid'=>$v['uid']))}">标记为中途退会</a>
                                    </td>
                                </tr> 
                            </table>
                        </div>
                        <div class="vip-img-box">
                            <span class="vip-img">
                                <img src="__PUBLIC__{$v.img}" alt="">
                                <input type="file" name="img" class="file-btn"/>
                                <span class="span-btn"><i class="fa fa-cloud-upload"></i>上传(最大{:C('MAX_PHOTO_POST_SIZE')/1024/1024}MB)</span>
                            </span>
                        </div>
                        <div class="vip-text">
                            <table>
                                <tr>
                                    <td class="vip-title">签名：</td>
                                    <td class="vip-input"><textarea name="flag_{$random}" required>{$v.flag}</textarea></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="vip-input"><input type="submit" class="vip-btn" id="submit-button" value="提&nbsp;&nbsp;交"></td>
                                </tr>
                            </table>
                        </div>
                    </foreach>
                </form>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/index.js"></script>
</body>
</html>
