h1,h2,h3,h4,p,ul,li,a,img{ padding:0; margin:0}
body{ font-size:12px; background:#fff;font-family: Arial,Helvetica,sans-serif,"宋体"; color:#666}
li{ list-style:none}
img{ border:none}
a{ color:#336699; text-decoration:none;}
a:hover{ text-decoration:underline;color:#333}
h2{ font-size:14px}
h3{ font-size:12px}
.w980{ width:980px; margin:0 auto; clear:both}
.h5{ height:5px; width:100%; clear:both}
.h10{ height:10px; width:100%; clear:both}
.list1 li{ line-height:25px; height:25px; background:url(bg1.png) -11px -407px no-repeat; text-indent:10px}
.list2 li{ line-height:25px;  }
.list2 li b{ color:#FF6600; padding-right:10px}
.list3 li{ line-height:28px}
.gray100{ width:100%; background:#F3F3F3; padding-bottom:20px}
.gray100_2{ width:100%; background:#EBEBEB; padding-bottom:20px}
.cl{ width:100%; clear:both; height:0; line-height:0}
.none{ display:none}
.wave{ height:12px; background:url(bg_wave.gif) repeat-x}
.blueline{ border-bottom:2px solid #238DE7;}
*.red{ color:red!important}
*.gray{ color:gray!important}
.pages{border: 1px solid #FFC969;background: #FFECC4;padding: 10px 15px; margin:10px auto; text-align:center; margin}

.pages a{color:#DC3E00; margin:0 8px}
.pages a.current{ font-weight:bold}

#header{ width:908px; margin:0 auto 8px; border:1px solid #ddd}
#header #mainNav{ height:50px; background:url(bg_nav.jpg) 0 4px; border-bottom:1px solid #ddd; border-top:1px solid #ddd}
#header #mainNav ul{ width:980px; margin:0 auto}
#header #mainNav ul li{ display:inline;}
#header #mainNav ul li a{ float:left; font-size:14px; line-height:40px; font-weight:bold; color:#fff; padding:5px 23px 0; height:40px;}
#header #mainNav ul li a.current{ background:#EE7101}


#message .box{ width:700px; border:5px solid #ccc; padding:20px; text-align:center; margin:0 auto 20px}
#message a{ text-decoration:underline;color:#DC3E00; font-size:12px}

#main,#home,#footer{ width:910px; margin:0 auto}
#main h2{ background:url(bg_h2.jpg) repeat-x; height:32px; line-height:32px; text-indent:12px}
#home .intro{ float:left; width:660px; }
#home .intro .logo{ margin-bottom:10px;padding:1px; border:1px solid #ddd;}
#home .intro .txt{ padding:1px; border:1px solid #ddd;}
#home .intro .txt h2{ background:url(bg_h2.jpg) repeat-x; height:32px; line-height:32px; text-indent:12px}
#home .intro .txt div{ padding:10px}
#home .intro .txt p{ line-height:26px; margin-bottom:15px}
#home .login{ float:right; width:230px; border:1px solid #DADADA; height:304px; }
#home .login h2{ background:#f0f0f0;border-bottom:1px solid #ddd; height:30px; font-size:14px; line-height:30px; text-indent:12px}
#home .login h2 span{ background:#fff; height:31px; line-height:30px; float:left; margin-bottom:-1px; padding:0 20px; border-right:1px solid #ddd}
#home .login form{ padding:10px}
#home .login form table{ width:100%; text-align:left}
#home .login form table th{ width:65px;}
#home .login form table th,#home .login form table td{ line-height:20px; height:20px; padding:4px 0; font-weight:100}
#home .login form table td.sub{ height:30px; line-height:30px}
#home .login form table td.sub a{ float:left; margin:0 0 0 20px; color:#008DF6}
#home .login form input{ width:150px}
#home .login form input.checknum{ width:75px}
#home .login form input.submit{ width:100px; height:30px; display:inline-block; background:url(bg1.png) -73px -315px; border:none}
#home .login form a.reg{ display:block; margin:0 auto; border: 1px solid #CFCFCF;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px; color:#333; font-size:14px; font-weight:bold; text-align:center; height:28px; line-height:28px; background:url(bg1.png) 0 -118px repeat-x}
#home .login form a.reg:hover{ border:1px solid #999; text-decoration:none}
#home .login .userInfo{ height:160px;padding:10px}
#home .login .userInfo table{ width:100%; color:#555; border:1px solid #ddd; border-width:1px 1px 0 0}
#home .login .userInfo table tr td{  border:1px solid #ddd; border-width:0 0 1px 1px; padding:3px 6px; line-height:22px }
#home .login .adv{ padding:8px 0; background:#F3F3F3;border-top: 1px solid #DBDBDB;margin-top: 10px; height:66px}
#home .login .adv a{ float:left; width:102px; height:64px; text-align:center;border-right: 1px solid #E3E3E3; color:#666; overflow:hidden}
#home .login .adv a.end{ border:none; width:99px  }
#home .login .adv a:hover{ text-decoration:none }
#home .login .adv a em{ display:block; width:91px; height:45px; margin:0 auto; background:url(bg_adv.png) no-repeat;}
#home .login .adv a.adv1 em{ background-position:26px 0}
#home .login .adv a.adv2 em{ background-position:30px -54px}
#home .login .adv a.adv3 em{ background-position:27px -109px}

#userReg{ border:1px solid #ddd;}
#userReg h2{ background:url(bg_h2.jpg) repeat-x; height:32px; line-height:32px; text-indent:12px}
#userReg form{ padding:10px}
#userReg table tr td{ padding:5px}
#userReg .add{ width:300px}


#footer{ text-align:center; margin:8px auto; clear:both; border-top:1px solid #ddd; padding-top:10px; margin-top:10px}

#roomList{ float:left; width:640px; border:1px solid #ddd;}
#roomList .room{ float:left; width:25%; height:56px}
#roomList .room h3{ text-align:center; padding:10px 0 0}
#roomList .room p{ padding:10px 0; text-align:center}
#roomList .room p a{ margin:0 5px}
#roomList p.intro{ padding:10px; line-height:28px}
#roomList .schedule table{border:1px solid #ddd; border-width:0 0 1px 1px; margin:10px auto; width:600px}
#roomList .schedule table tr th,#roomList .schedule table tr td{ padding:5px; text-align:center; border:1px solid #ddd; border-width:1px 1px 0 0}
#roomList .schedule table tr.tr2{ background:#eee}
#userInfo{ float:right; width:250px; border:1px solid #ddd;}
#userInfo p{ padding:0 10px; line-height:30px}

#userInfo a{ color:#DC3E00;text-decoration:underline;}
#userInfo a:hover{ color:#333}


#appointTime{ float:left; width:640px; border:1px solid #ddd;}
#appointTime table tr td{ padding:5px}