<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title><empty name='edit'>新建<else/>编辑</empty>纳新 - {:C('SITE_NAME')}后花园</title>
  	<link rel="Shortcut Icon" type="image/x-icon" href="__PUBLIC__/images/favicon.ico" />
    <link rel="stylesheet" href="__PUBLIC__/css/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/css/public.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font-awesome.min.css"/>
    <link rel='stylesheet' href='__PUBLIC__/css/bootstrap.css' type='text/css' media='all' />
    <script type='text/javascript' src='__PUBLIC__/js/jquery-2.1.1.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/js/bootstrap.js'></script>
    <script type='text/javascript' src='__PUBLIC__/js/autosize.js'></script>
</head>
<body>

    <div class="container">
            <include file='Common:header'/>
        <div class="cgx-txt">
                <h1><i class="fa fa-pencil"></i><empty name='edit'>新建<else/>编辑</empty>纳新</h1>
                <br>
        <div class="xrz-box">
        <empty name='edit'>
            <form action="{:U('/Garden/Recruit/save')}" method="post">
                <input type="hidden" name="add" value="1">
        <else />
            <form action="{:U('/Garden/Recruit/save')}" method="post">
                <input type="hidden" name="edit" value="1">
                <input type="hidden" name="gid" value="{$recruit.gid}">
        </empty>
                <div class="xrz-input-box">
                    <label id="xrz-tit">纳新名称:</label>
                    <input type="text" name="gname" value="{:isset($recruit['gname'])?$recruit['gname']:''}" required/>
                </div>
                <div class="xrz-input-box">
                    <label id="xrz-tit">年度:</label>
                    <input type="text" name="year" value="{:isset($recruit['year'])?$recruit['year']:''}" required />
                </div>
                <div class="xrz-input-box">
                    <label id="xrz-tit">纳新控制:</label>
                    
                    <notempty name="recruit['status']">
                        <select name=status>
                            <if condition="$recruit['status'] eq 1"><option value ="1" selected="selected">开放报名</option><else /><option value ="1">开放报名</option></if>
                            <if condition="$recruit['status'] eq 2"><option value ="2" selected="selected">禁止报名</option><else /><option value ="2">禁止报名</option></if> 
                            <if condition="$recruit['status'] eq 3"><option value ="3" selected="selected">开放面试</option><else /><option value ="3">开放面试</option></if> 
                            <if condition="$recruit['status'] eq 4"><option value ="4" selected="selected">纳新结束</option><else /><option value ="4">纳新结束</option></if>                     
                        </select>
                    <else />
                        <select name=status>
                            <option value ="1">开放报名</option>
                            <option value ="2">禁止报名</option>
                            <option value ="3">开放面试</option>
                            <option value ="4">纳新结束</option>
                        </select>
                    </notempty>
                </div>
                <div class="blog-text txt-srk">
                    <label id="xrz-tit">成功提交后的提示信息:</label>
                </div>
                <div class="blog-text txt-srk">
                    <textarea name="message">{:isset($recruit['message'])?$recruit['message']:''}</textarea>
                    <div class="btn-div">
                        <input type="submit" class="btn-box" id="back-button" value="保存">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    autosize(document.querySelectorAll('textarea'));
</script>
    <script src="__PUBLIC__/js/index.js"></script>
</body>
</html>