<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<title>{$gname} - {:C('SITE_NAME')}后花园</title>
  	<link rel="Shortcut Icon" type="image/x-icon" href="__PUBLIC__/images/favicon.ico" />
	<link rel="stylesheet" href="__PUBLIC__/css/style.css" media="screen" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/css/public.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font-awesome.min.css"/>
	<link rel='stylesheet' href='__PUBLIC__/css/bootstrap.css' type='text/css' media='all' />
	<script type='text/javascript' src='__PUBLIC__/js/jquery-2.1.1.min.js'></script>
	<script type='text/javascript' src='__PUBLIC__/js/bootstrap.js'></script>
	<script type='text/javascript' src='__PUBLIC__/js/ajax.js'></script>
</head>
<body>
	<div class="container">
	<include file='Common:header'/>
		<div id="info"></div>
		<div class="cgx-txt">
			<h1 ><i class="fa fa-users"></i>{$gname}</h1>
			<div class="xrz-box">
				<table width="100%" class="edit-project-user td">
					<thead>
						<tr>
							<td>学号</td>
							<td>姓名</td>
							<td>电话</td>
							<td>QQ</td>
							<td>电邮</td>
							<td>专业</td>
							<td>部门</td>
							<td>状态</td>
							<td>操作</td>
						</tr>
					</thead>
					<tbody>
						<foreach name="users" item="v">
							<tr>
								<td>{$v.number}</td>
								<td><a href="{:U('/Garden/Recruit/view',array('recruit_id'=>$v['recruit_id']))}" target="_blank">{$v.truename}</a></td>
								<td>{$v.mobile}</td>
								<td>{$v.qq}</td>
								<td>{$v.email}</td>
								<td>{$v.mname}</td>
								<td>{$v.dname}</td>
								<td><if condition="$v['status'] eq '1'">已纳<else /><font color="red">未纳</font></if></td>
								<td><a href="{:U('/Garden/Recruit/view',array('recruit_id'=>$v['recruit_id']))}" target="_blank">编辑</a></td>
							</tr>
						</foreach>
					</tbody>
				</table>
			</div>

			<div class="msg-page">
				<div class="page">{$page}</div>
			</div>
		</div>
	</div>
<script src="__PUBLIC__/js/index.js"></script>
</body>
</html>