<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>查看纳新成员资料 - {:C('SITE_NAME')}后花园</title>
  	<link rel="Shortcut Icon" type="image/x-icon" href="__PUBLIC__/images/favicon.ico" />
    <link rel="stylesheet" href="__PUBLIC__/css/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/css/public.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font-awesome.min.css"/>
    <link rel='stylesheet' href='__PUBLIC__/css/bootstrap.css' type='text/css' media='all' />
    <script type='text/javascript' src='__PUBLIC__/js/jquery-2.1.1.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/js/bootstrap.js'></script>
    <script type='text/javascript' src='__PUBLIC__/js/ajax.js'></script>

</head>
<body>
<script type="text/javascript">
var AddRecruitCommUrl = "{:U('/Garden/Recruit/addcomment')}";
function del(){
    if(confirm("确定要删除吗？")){
        return true;
    }else{
        return false;
    }
}
</script>
    <div class="container">
        <include file='Common:header'/>
        <div class="vip-main cgx-txt">
            <h1>查看纳新成员资料</h1>
            <div class="xrz-box">
                <div class="vip-img-box">
                    <span class="vip-img">
                        <img src="__PUBLIC__/{$recruit.img}" alt="">
                    </span>
                </div>
                <div class="xrz-input-box">
                    <label id="xrz-tit">学号： {$recruit.username}</label>
                </div>
                <div class="xrz-input-box">
                    <label id="xrz-tit">姓名： {$recruit.truename}</label>
                </div>
                <div class="xrz-input-box">
                    <label id="xrz-tit">电话： {$recruit.mobile}</label>
                </div>
                <div class="xrz-input-box">
                    <label id="xrz-tit">QQ ： {$recruit.qq}</label>
                </div>
                <div class="xrz-input-box">
                    <label id="xrz-tit">邮箱： {$recruit.email}</label>
                </div>
                <div class="xrz-input-box">
                    <label id="xrz-tit">专业： {$recruit.mname}</label>
                </div>
                <div class="xrz-input-box">
                    <label id="xrz-tit">意向： {$recruit.dname}</label>
                </div>
                <div class="xrz-input-box">
                    <label id="xrz-tit">签名： {$recruit.flag}</label>
                </div>
                <notempty name="recruit.github">
                    <div class="xrz-input-box">
                        <label id="xrz-tit">GitHub：{$recruit.github}</label>
                    </div>
                </notempty>
                <notempty name="recruit.website">
                    <div class="xrz-input-box">
                        <label id="xrz-tit">网站：{$recruit.website}</label>
                    </div>
                </notempty>
                <div class="xrz-input-box">
                    <label id="xrz-tit">简介： {$recruit.info}</label>
                </div>
                
            </div>
            <h1>纳新操作</h1>
            <div class="msg-box">
                
                    <if condition="$recruit['status'] neq '1'">
                    	<if condition="$recruit['grade_status'] eq '3'">
		                    <form action="{:U('/Garden/Recruit/recive')}" method="post">
		                        <table>
		                            <tr>
		                                <td class="vip-title">接受申请并纳新到：</td>
		                                <td class="vip-input">
		                                    <input type="hidden" name="uid" value="{$recruit.uid}">
		                                    <select name=dep>
		                                        <foreach name='departments' item='v'>
		                                                <option value ="{$v.did}">{$v.dname}</option>
		                                        </foreach>
		                                    </select>
		                                </td>
		                                <td> <input type="submit" name="submit" value="确定"></td>
		                            </tr>
		                        </table>
		                    </form>
		                <else />
		                	<label>暂未开放纳新操作！</label>
		            	</if>
                    <else />
                         <label id="xrz-tit">已纳新到 {$recruit.recruited_dep.dname}</label>
                    </if>
            </div>
            <if condition="$recruit['status'] eq '1'">
                <notempty name="comments">
                    <h1>面试印象</h1>
                </notempty>
            <else />
                <h1>面试印象</h1>
            </if>
            <notempty name="comments">
                <div class="msg-box">
                    <ul>
                    <foreach name='comments' item='v'>
                        <li class="msg">
                            <span class="msg-user">
                                <a href="{:U('/Garden/User/look', array('uid' => $v['uid']))}">
                                <img src="__PUBLIC__{$v.img}" alt="{$v.truename}" width="50px" height="50px">
                                <p>{$v.truename}</p>
                                </a>
                            </span>
                            <p class="msg-content">
                                {$v.content}
                                <span>
                                <if condition="session('id') eq $v['uid']">
                                <a href="{:U('/Garden/Recruit/delcomment', array('cid' => $v['cid']))}" onclick='return del();'><i class='fa fa-trash'></i></a>
                                </if>
                                <i class="fa fa-clock-o"></i>{$v.addtime}
                                </span>
                            </p>
                        </li>
                    </foreach>
                    </ul>
                </div>
            </notempty>
            <if condition="$recruit['status'] neq '1'">
                <div class="msg-edit">
                        <h3>添加印象</h3>
                        <input type="hidden" name="recruit_uid" value="{$recruit['uid']}"/>
                        <textarea name="content"  cols="20" wrap="hard" required></textarea>
                        <input type="submit" class="msg-btn" id="AddRecruitCommBnt" value="提&nbsp;&nbsp;交">
                </div>
            </if>
        </div>
    </div>
    <script src="__PUBLIC__/js/index.js"></script>
    <script type="">
    function geturl(){
        var text_obj = document.getElementById("page_url");
        var url = "/Garden/Index/index/p/"+text_obj.value;
        window.location.href=url;
    }
</script>
</body>
</html>