<!DOCTYPE html>
<html lang="en">
<head>

<title>计协纳新</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link rel="icon" href="../../favicon.ico">
<link rel="stylesheet" href="__PUBLIC__/Recruit/css/button.css">
<link rel="stylesheet" href="__PUBLIC__/Recruit/css/newinput.css" media="screen and (max-width:480px)"  >
<link rel="stylesheet" href="__PUBLIC__/Recruit/css/username.css" media="screen and (max-width:480px) and (min-width:480px)"  >
<link rel="stylesheet" href="__PUBLIC__/Recruit/css/bootstrap.min.css">
<link rel="stylesheet" href="__PUBLIC__/Recruit/css/font-awesome.min.css">
<link rel="stylesheet" href="__PUBLIC__/Recruit/css/magnific-popup.css">

<link rel="stylesheet" href="__PUBLIC__/Recruit/css/owl.theme.css">
<link rel="stylesheet" href="__PUBLIC__/Recruit/css/owl.carousel.css">

<!-- MAIN CSS -->
<link rel="stylesheet" href="__PUBLIC__/Recruit/css/tooplate-style.css">

</head>
<style type="text/css">
	.BMJS{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.2px;
    color: #000000;
    background: #DDDDDD;
}
	.CONTselect{
		border-color: #d9d9d9;
	}
     .title{
          margin-top:100px; 
     }
     .CONTinputTD{
          width: 94%;
     }
     .CONTinput{
          width: 94%;
          height: 10px;
          line-height: 45px;
     }
</style>
<body>

<!-- PRE LOADER -->
<!--Fix The Microsoft edge can not open-->

<!-- MENU -->
<div class="navbar custom-navbar navbar-fixed-top" role="navigation">
     <div class="container">

          <!-- NAVBAR HEADER -->
          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <!-- lOGO -->
               <a href="index.html" class="navbar-brand">计算机协会纳新</a>
          </div>

          <!-- MENU LINKS -->
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home" class="smoothScroll">回顶</a></li>
                    <li><a href="#about" class="smoothScroll">部门简介</a></li> 
                    <li><a href="#contact" class="smoothScroll">加入我们</a></li>
               </ul>
          </div>

     </div>
</div>


<!-- HOME -->
<section id="home" class="parallax-section">
     <div class="overlay"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-8 col-sm-12">
                    <div class="home-text">
                         <h1>欢迎加入现教计协大家庭！</h1>
                         <p style="font-size:35px">我们等你好久了！</p>
                         <ul class="section-btn">
                              <a href="#about" class="smoothScroll"><span data-hover="探索计协">探索计协</span></a>
                         </ul>
                    </div>
               </div>

          </div>
     </div>

     <!-- Video -->
	<!--
     <video controls autoplay loop muted>
          <source src="__PUBLIC__/Videos/1080.mp4" type="video/mp4">
          Your browser does not support the video tag.
     </video>
	-->
</section>


<!-- ABOUT -->
<section id="about" class="parallax-section">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="about-info">
                         <h3 style="font-size:40px">各部门简介！</h3>
                         <h1></h1>
                    </div>
               </div>

          </div>
     </div>
</section>


<!-- PROJECT -->
<section id="project" class="parallax-section">
     <div class="container">
          <div class="row">

               <div class="col-md-6 col-sm-6">
                    <!-- PROJECT ITEM -->
                    <div>
                         <h1 style="font-weight:800;color:#5D5D5D;">项目部</h1>
                         <ul class="BMJS">
                         	<li>
                         		发现网络上的热门项目，将其加以创新并引入社团，介绍给同学们.
                         	</li>
                         	<li>
                         		同时项目部负责协会项目的创作和创新，开发好的项目，交给技术部维护运行。
                         	</li>
                         </ul>
                    </div>
               </div>
               <div class="col-md-6 col-sm-6">
                    <!-- PROJECT ITEM -->
                    <div>
                         <h1 style="font-weight:800;color:#5D5D5D;">组织部</h1>
                         <ul class="BMJS">
                         	<li>
                         		组织部负责活动策划、场地申请、组织纳新、配合其他部门完成好工作。
                         	</li>
                         	<li>
                         		加入组织部，它能够锻炼你的协调组织能力，培养你的创意。
                         	</li>
                         </ul>
                    </div>
               </div>
               <div class="col-md-6 col-sm-6">
                    <!-- PROJECT ITEM -->
                    <div>
                         <h1 style="font-weight:800;color:#5D5D5D;">文宣部</h1>
                         <ul class="BMJS">
                         	<li>
                         		主要负责对计协及其举办活动进行品牌包装，配合其他部门完成好各类活动的前中后期宣传工作。
                         	</li>
                         	<li>
                         		具体的工作内容涉及海报制作、撰写宣传文案、摄影采编和计协微博日常更新等。
                         	</li>
                         </ul>
                    </div>
               </div>
               <div class="col-md-6 col-sm-6">
                    <!-- PROJECT ITEM -->
                    <div>
                         <h1 style="font-weight:800;color:#5D5D5D;">办公室</h1>
                         <ul class="BMJS">
                         	<li>
                         		负责各部门会议记录的总结，人员物资信息汇总，社团信息的整合等等文字整理工作。
                         	</li>
                         	<li>
                         		同时办公室还负责各个部门之间的任务传达与协调等工作。
                         	</li>
                         </ul>
                    </div>
               </div>  
                <div class="col-md-6 col-sm-6">
                    <!-- PROJECT ITEM -->
                    <div>
                         <h1 style="font-weight:800;color:#5D5D5D;">技术部</h1>
                         <ul class="BMJS">
                         	<li>
                         		技术部主要负责协会网站搭建与维护、服务器后台维护。
                         	</li>
                         	<li>
                         		技术部提供基础类电脑故障检测、维修、以及电脑技术培训课程等。
                         	</li>
                         </ul>
                    </div>
               </div>
          </div>
     </div>
</section>


<!-- TEAM -->

<section id="contact" class="parallax-section">
     <a target="_self" href="/Recruit/Recruit" class="page-scroll btn btn-xl" style="font-size:25px">选择部门加入我们吧！</a>
</section>

<!-- CONTACT -->
 <!--
<section id="contact" class="parallax-section">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-3 col-md-6 col-sm-12">
                    <div class="section-title">
                         <h1>选好意向部门加入我们吧！</h1>
                    </div>
               </div>

               <div class="clearfix"></div>

               <div class="col-md-offset-2 col-md-8 col-sm-12">
                     CONTACT FORM HERE 
                    <form id="contact-form" action="{:U('/Recruit/Recruit/save')}" method="post" role="form" enctype="multipart/form-data">
                         <table>
                              <tr>
                                   <td style="width: 200px;">名字：</td>
                                   <td style="width:85%"><input style="width:85%" type="text" name="number" value="" placeholder="请输入学号或工号" required/></td>
                              </tr>
                         </table>
                    
                         <div class="col-md-2 col-sm-2">
                             <h1 class="username" style="font-size: 20px; font-weight: bolder; margin-top: 7px;">学号：</h1>                         
                        </div>
                         <div class="col-md-5 col-sm-6">
                              
                              <input type="text" class="form-control" id="cf-name" name="number" placeholder="请输入学号或工号" required/>
                              <input type="hidden" name="grade" value="{$grade}" />
                         </div>
                         <div class="col-md-1 col-sm-2">
                             <h1 class="username" style="font-size: 20px; font-weight: bolder; margin-top: 7px;">名字：</h1>                         
                        </div>
                         <div class="col-md-5 col-sm-6">
                              <input type="text" class="form-control" id="cf-email" name="truename" placeholder="请输入真实姓名" required/>
                         </div>

                         <div class="col-md-12 col-sm-12">
                              <input type="text" class="form-control" id="cf-subject" name="mobile" placeholder="请输入联系电话" required/>
                         </div>
                         <div class="col-md-12 col-sm-12">
                              <input type="text" class="form-control" id="cf-subject" name="qq" placeholder="请输入联系QQ" required/>
                         </div>
                         <div class="col-md-12 col-sm-12">
                              <input type="text" class="form-control" id="cf-subject" name="email" placeholder="请输找回密码邮箱" required/>
                         </div>
                         <div class="col-md-12 col-sm-12">
                              <input type="text" class="form-control" id="cf-subject" name="flag" placeholder="请输入你的专业" required/>
                         </div>
                         <div class="col-md-12 col-sm-12">
                              <input type="text" class="form-control" id="cf-subject" name="github" placeholder="[选填]你的GitHub账号，格式为网址如https://github.com/JinkunTian/" />
                         </div>
                         <div class="col-md-12 col-sm-12">
                              <input type="text" class="form-control" id="cf-subject" name="website" placeholder="[选填]你的个人网站，格式为网址http://www.mecca.org.cn" />
                         </div>
						<div calss="CONTselect">
                              <select name=major>
                                            <foreach name='majors' item='v'>
                                                    <option value ="{$v.mid}">{$v.mname}</option>
                                            </foreach>
                              </select>
                         </div>
                         <div>
                             <select name=dep>
                                            <foreach name='departments' item='v'>
                                                    <option value ="{$v.did}">{$v.dname}</option>
                                            </foreach>
                             </select>
                         </div>
                         <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4">
                              <div class="section-btn">
                                   <input type="submit" class="vip-btn" id="submit-button" value="提&nbsp;&nbsp;交">
                              </div>
                         </div>
                    </form>
               </div>

          </div>
     </div>
</section>
-->

<!-- FOOTER -->
<!--
<footer>
     <div class="container">
          <div class="row">

               <div class="col-md-5 col-sm-6">
                    <h2>Digital Studio</h2>
                    <p>321 Donec et justo id risus, Malesuada pharetra,<br> Tristique vestibulum,<br> Lorem ipsum dolor</p>
                    
                    
               </div>

               <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                    	<h2>Keep in touch</h2>
                         <p><a href="tel:010-090-0780">010-090-0780</a></p>
                         <p><a href="mailto:info@company.com">info@company.com</a></p>
                         <p><a href="#">Our Location</a></p>
                    </div>
               </div>

               <div class="col-md-3 col-sm-12">
               		
                    <h2>About Us</h2>
                    <p>Sed vestibulum posuere ante, eget blandit metus. Morbi sodales feugiat erat, et placerat sapien suscipit ut.</p>
                    <ul class="social-icon">
                         <li><a href="#" class="fa fa-twitter"></a></li>
                         <li><a href="#" class="fa fa-facebook"></a></li>
                         <li><a href="#" class="fa fa-instagram"></a></li>
                         <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
                    
               </div>

               <div class="clearfix"></div>

               <div class="col-md-12 col-sm-12">
                    <div class="copyright-text">
                         <p>Copyright © 2018 Company Name | Design: <a href="#/tooplate" target="_parent">Tooplate</a>.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
                    </div>
               </div>
               
          </div>
     </div>
</footer>
-->

<!-- SCRIPTS -->
<script src="__PUBLIC__/Recruit/js/jquery.js"></script>
<script src="__PUBLIC__/Recruit/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Recruit/js/jquery.parallax.js"></script>
<script src="__PUBLIC__/Recruit/js/owl.carousel.min.js"></script>
<script src="__PUBLIC__/Recruit/js/jquery.magnific-popup.min.js"></script>
<script src="__PUBLIC__/Recruit/js/magnific-popup-options.js"></script>
<script src="__PUBLIC__/Recruit/js/modernizr.custom.js"></script>
<script src="__PUBLIC__/Recruit/js/smoothscroll.js"></script>
<script src="__PUBLIC__/Recruit/js/custom.js"></script>

</body>
</html>
