<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>申请留任协会 - {:C('SITE_NAME')}后花园</title>
  	<link rel="Shortcut Icon" type="image/x-icon" href="__PUBLIC__/images/favicon.ico" />
    <link rel="stylesheet" href="__PUBLIC__/css/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/css/public.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font-awesome.min.css"/>
    <link rel='stylesheet' href='__PUBLIC__/css/bootstrap.css' type='text/css' media='all' />
    <script type='text/javascript' src='__PUBLIC__/js/jquery-2.1.1.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/js/bootstrap.js'></script>
</head>
<body>
    <div class="container">
        <include file='Common:header'/>
        <div class="vip-main cgx-txt">
            <h1 class="center-h1"><i class="fa fa-user"></i>退留任申请</h1>
            <div class="vip-content">
                    <form action="{:U('/Garden/User/succeed_post')}"  enctype="multipart/form-data" method="post">
                        <div class="vip-txt-box">
                            <table>
                                <tr>
                                    <td class="vip-title">学号：</td>
                                    <td class="vip-input">{:session('username')}</td>
                                </tr>
                                <tr>
                                    <td class="vip-title">姓名：</td>
                                    <td class="vip-input">{:session('truename')}</td>
                                </tr>
                                <tr>
                                    <td class="vip-title">申请：</td>
                                    <td class="vip-input">
                                        <select name='type' style="width: 128px">
                                        <notempty name="user_data">
                                            <if condition="$user_data['type'] eq 'secede' ">
                                                <option value ="secede" selected="selected">退出协会</option>
                                                <option value ="succeed">留任干事</option>
                                                <option value ="succeed_manager">留任干部</option>
                                            <elseif condition="$user_data['type'] eq 'succeed' "/>
                                                <option value ="secede">退出协会</option>
                                                <option value ="succeed" selected="selected">留任干事</option>
                                                <option value ="succeed_manager">留任干部</option>
                                            <elseif condition="$user_data['type'] eq 'succeed_manager' "/>
                                                <option value ="secede">退出协会</option>
                                                <option value ="succeed" >留任干事</option>
                                                <option value ="succeed_manager" selected="selected">留任干部</option>
                                            <else />
                                                <option value ="secede">退出协会</option>
                                                <option value ="succeed">留任干事</option>
                                                <option value ="succeed_manager">留任干部</option>
                                            </if>
                                        <else />
                                            <option value ="secede" selected="selected">退出协会</option>
                                            <option value ="succeed">留任干事</option>
                                            <option value ="succeed_manager">留任干部</option>
                                        </notempty>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                           
                        </div>
                        <div class="vip-text">
                        <table>
                                <tr>
                                    <td class="vip-title">原因及想法：</td>
                                    <td class="vip-input"><textarea name="succeed_info" required><notempty name="user_data">{$user_data['succeed_info']}</notempty></textarea></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <input type="hidden" name="uid" value="{$user_data.uid}"/>
                                    <td class="vip-input"><input type="submit" class="vip-btn" id="submit-button" value="提&nbsp;&nbsp;交"></td>
                                </tr>
                            </table>
</div>
                    </form>

            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/index.js"></script>
</body>
</html>
