<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
  <title>错误</title>
<link rel="stylesheet" href="__PUBLIC__/System/Css/msg.css" />
 </head>
   <script type="text/javascript">
     function refresh(){
      location.href = "{$jumpUrl}";
     }
     setTimeout("refresh()",1800);
  </script>
 <body>
  <div id="wrapper">
    <div class="left">
      <img src="__PUBLIC__/System/Image/error.png" height="100" width="100" alt="">
    </div>
    <div class="right">
      <p class="msg-title">{$msgTitle}</p>
     <present name="error">
      <p class="error">{$error}</p>
     </present>
    </div>
  </div>
 </body>
</html>