<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>注册 - {:C('SITE_NAME')}</title>
  	<link rel="Shortcut Icon" type="image/x-icon" href="__PUBLIC__/images/favicon.ico" />
    <link rel="stylesheet" href="__PUBLIC__/css/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/css/public.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font-awesome.min.css"/>
    <link rel='stylesheet' href='__PUBLIC__/css/bootstrap.css' type='text/css' media='all' />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/login.css"/>
    <script type='text/javascript' src='__PUBLIC__/js/jquery-2.1.1.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/js/bootstrap.js'></script>
    <script type='text/javascript'>
      function check(){
        $alertmobile="联系电话为11位。";
        $alertqq="QQ最小为6位。";
        $mobile = document.getElementById("mobile");
        $qq = document.getElementById("QQ");
        if($mobile.value.length <11 ){
              alert($alertmobile);
              $mobile.focus();
              return false;
         }
        if($qq.value.length <6 ){
              alert($alertqq);
              $qq.focus();
              return false;
         }
        
      }
      //验证邮箱是否合法
function isEmail(strEmail) { var flag = strEmail.search(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/);
    if (flag == -1){ alert("邮箱格式不正确");
    }
                           }
    </script>
</head>
<body>
    <div class="container">
        <div class="vip-main cgx-txt">
            <h1 class="center-h1">注册 - 计协通行证</h1>
            <div class="new_guest-content">
                <form action="{:U('/Login/Reg/registerpost')}"  enctype="multipart/form-data" method="post">
                        <div class="vip-txt-box">
                            <table>
                                <tr>
                                    <td class="vip-title">学号：</td>
                                    <td class="vip-input"><input  style="width: 210px" type="text" name="username" value="{:session('username')}" required="required" readonly="readonly"/></td>
                                </tr>
                                <tr>
                                    <td class="vip-title">姓名：</td>
                                    <if condition="$USE_QIANGZHI_JIAOWU eq true">
                                        <td class="vip-input"><input  style="width: 210px;" type="text" name="truename" placeholder="请输入你的姓名" value="{:session('name')}" required="required" readonly="readonly"/></td>
                                    <else />
                                        <td class="vip-input"><input  style="width: 210px;" type="text" name="truename" placeholder="请输入你的姓名" value="" required="required"/></td>
                                    </if>
                                </tr>
                                <tr>
                                    <td class="vip-title">电话：</td>
                                    <td ><input style="width: 210px;max-width: 260px;min-width: 20px;" maxlength="11" onkeyup="this.value=this.value.replace(/\D/g,'')"
onafterpaste="this.value=this.value.replace(/\D/g,'')" type="text" id="mobile" name="mobile" value="" placeholder="请输入联系电话" required="required"/></td>
                                </tr>
                                <tr>
                                    <td class="vip-title">QQ：</td>
                                    <td class="vip-input"><input style="width: 210px;" maxlength="11" id="QQ" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')"
onafterpaste="this.value=this.value.replace(/\D/g,'')" name="qq" value="" placeholder="请输入联系QQ" required="required"/></td>
                                </tr>
                                <tr>
                                    <td class="vip-title">邮箱：</td>
                                    <td class="vip-input"><input  style="width: 210px;" type="text" name="email" id="email" value="" placeholder="请输入找回密码邮箱" onblur="isEmail(this.value);" required="required"/></td>
                                </tr>
                                <tr>
                                    <td class="vip-title">学院：</td>
                                    <td class="vip-input">
                                        <select name=college  style="width: 210px;">
                                            <foreach name='institute' item='v'>
                                                <if condition="$v['institute'] eq $student_institute">
                                                    <option value ="{$v.institute}" selected="selected">{$v.institute}</option>
                                                <else />
                                                    <option value ="{$v.institute}" >{$v.institute}</option>
                                                </if>
                                            </foreach>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="vip-title">专业：</td>
                                    <td class="vip-input">
                                        <select name=major  style="width: 210px;">
                                            <foreach name='majors' item='v'>
                                                <if condition="$v['mid'] eq $student_major">
                                                    <option value ="{$v.mid}" selected="selected">{$v.mname}</option>
                                                <else />
                                                    <option value ="{$v.mid}" >{$v.mname}</option>
                                                </if>
                                            </foreach>
                                        </select>
                                    </td>
                                </tr>
                             <!--    <tr>
                                    <td class="vip-title">寝室：</td>
                                    <td class="vip-input"><input type="text" name="address" value="" placeholder="请输入你的寝室"/></td>
                                </tr> -->
                                <tr>
                                    <td class="vip-title">密码：</td>
                                    
                                    <if condition="$USE_QIANGZHI_JIAOWU eq true">
                                        <td class="vip-input"><input  style="width: 210px;" type="text" name="password" value="" placeholder="请设置一个登陆计协密码" required="required"/></td>
                                    <else />
                                        <td class="vip-input"><input  style="width: 210px;" type="text" name="password" value="{:session('password')}" placeholder="请设置一个登陆计协密码" required="required"/></td>                                    </if>
                                    </if>
                                    </tr>
                            </table>
                            <table style="width: 100%">
                                <tr></tr>
                                <tr>
                                    <td>
                                        <if condition="$ENABLE_GEETEST eq true">
                                            <div id="embed-captcha" style="width: 100%"></div>
                                            <p id="wait" class="show">正在加载验证码......</p>
                                            <p id="notice" class="hide">请先完成验证</p>
                                        </if>
                                    </td>
                                </tr>
                                <tr></tr>
                                <tr>
                                    <td><input style="width: 100%" type="submit" onclick="return check()" id="embed-submit" value="保存"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="vip-img-box">
                            <span class="vip-img">
                                <img src="__PUBLIC__/images/hi.png" alt="欢迎加入计算机协会">
                            </span>
                        </div>
                </form>
            </div>
        </div>
    </div>
    <div style="height: 100px"></div>
    <script src="__PUBLIC__/js/index.js"></script>
    <if condition="$ENABLE_GEETEST eq true">
        <script type='text/javascript' src='__PUBLIC__/js/jquery-2.1.1.min.js'></script>
        <script src="__PUBLIC__/js/gt.js"></script>
        <script>
            var handlerEmbed = function (captchaObj) {
                $("#embed-submit").click(function (e) {
                    var validate = captchaObj.getValidate();
                    if (!validate) {
                        $("#notice")[0].className = "show";
                        setTimeout(function () {
                            $("#notice")[0].className = "hide";
                        }, 2000);
                        e.preventDefault();
                    }
                });
                // 将验证码加到id为captcha的元素里，同时会有三个input的值：geetest_challenge, geetest_validate, geetest_seccode
                captchaObj.appendTo("#embed-captcha");
                captchaObj.onReady(function () {
                    $("#wait")[0].className = "hide";
                });
                // 更多接口参考：http://www.geetest.com/install/sections/idx-client-sdk.html
            };
            $.ajax({
                // 获取id，challenge，success（是否启用failback）
                url: "{:U('/Login/Reg/StartCaptchaServlet',array('t'=>time()))}", // 加随机数防止缓存
                type: "get",
                dataType: "json",
                success: function (data) {
                    //console.log(data);
                    // 使用initGeetest接口
                    // 参数1：配置参数
                    // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
                    initGeetest({
                        width: '198px',
                        https: true,
                        gt: data.gt,
                        challenge: data.challenge,
                        new_captcha: data.new_captcha,
                        product: "popup", // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
                        offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
                    }, handlerEmbed);
                }
            });
        </script>
    </if>
</body>
</html>