<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>小黑板</title>
    <link rel="stylesheet" href="__PUBLIC__/css/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/css/public.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font-awesome.min.css"/>
    <link rel='stylesheet' href='__PUBLIC__/css/bootstrap.css' type='text/css' media='all' />
    <script type='text/javascript' src='__PUBLIC__/js/jquery-2.1.1.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/js/bootstrap.js'></script>
</head>
<body>
<script type="text/javascript">
function del(){
    if(confirm("确定要删除吗？")){
        return true;
    }
    else{
        return false;
    }
}
</script>
    <div class="container">
            <include file='Common:header'/>
        <div class="cgx-txt">

        <h1>
        <i class="fa fa-list-alt"></i>小黑板
        <span class="sha-add"><a href="{:U('/Home/BlackBoard/add')}" title="发布板书"><i class="fa fa-pencil-square-o"></i></a></span>
        </h1>
            <div class="cgx-sbox">
                <ul class="cgx-txt-box clearfix">
                <foreach name='article' item='v' key='i'>
                    <li>
                        <div class="cgx-sbox-top">
                            <!-- <h2 style="background:#63BB47;"><?php echo $i+1; ?></h2> -->
                            <a href="{:U('/Home/BlackBoard/look', array('id' => $v['id']))}"><h3 align="center">{$v.title}</h3><p></p></a>
                        </div>
                        <div class="cgx-sbox-bottom">
                            <p>
                            <if condition="session('id') eq $v['uid']">
                                <span><a href="{:U('/Home/BlackBoard/edit', array('id' => $v['id']))}"><i class="fa fa-pencil"></i>编辑</a></span>
                                <span class="blog-box-ico"><a href="{:U('/Home/BlackBoard/del', array('id' => $v['id']))}" onclick='return del();'><i class="fa fa-trash"></i>删除</a></span>
                            <else/>
                                <span><i class="fa fa-user"></i>{$v.author}</span>
                            </if>
                            <span class="blog-box-ico"><i class="fa fa-eye"></i>{$v.visits}</span>
                            <span class="blog-box-ico"><i class="fa fa-clock-o"></i>{$v.time|date='Y-m-d', ###}</span>
                            </p>
                        </div>
                    </li>
                </foreach>
                </ul>
                    <div class="msg-page">
                        <div class="page">{$page}</div>
                    </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/index.js"></script>
</body>
</html>