<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
	<title>登录预约平台- {:C('SITE_NAME')}</title>
  	<link rel="Shortcut Icon" type="image/x-icon" href="__PUBLIC__/images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/login.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font-awesome.min.css"/>
</head>
<body>
	<div class="login-content-box">
		<div class="login-input-box">
			<div class="login-logo">
				<div class="login-title">
				<h1>登 录</h1>
				</div>
			</div>
			<div class="login-input">
				<form method="POST" action="{:U('/Appointment/Login/login')}" class="login-input-name">
					<div class="login-user">
						<span class="login-user-span">
							<i class="fa fa-user"></i>
						</span>
					<input type="text" name="username" id="user" placeholder="请输入学号或工号" required>
					</div>
					<div class="login-user">
						<span class="login-user-span">
							<i class="fa fa-lock"></i>
						</span>
						<input type="password" name="password" id="psw" placeholder="请输入密码" required>
					</div>
				<if condition="$ENABLE_GEETEST eq true">
					<div class="login-user">
					    <div id="embed-captcha"></div>
					    <p id="wait" class="show">正在加载验证码......</p>
					    <p id="notice" class="hide">请先完成验证</p>
					</div>
                </if>
				<div class="login-btn-box">
				<input type="submit" class="subpost" id="embed-submit" value="登&nbsp;&nbsp;录">
				</div>

				</form>

			</div>
			<p class='login-p'><a href="https://blog.tianjintech.com">&copy; TianjinTech</a></p>
		</div>
	</div>
	<if condition="$ENABLE_GEETEST eq true">
        <script src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.js"></script>
        <script src="__PUBLIC__/js/gt.js"></script>
        <script>
            var handlerEmbed = function (captchaObj) {
                $("#embed-submit").click(function (e) {
                    var validate = captchaObj.getValidate();
                    if (!validate) {
                        $("#notice")[0].className = "show";
                        setTimeout(function () {
                            $("#notice")[0].className = "hide";
                        }, 2000);
                        e.preventDefault();
                    }
                });
                // 将验证码加到id为captcha的元素里，同时会有三个input的值：geetest_challenge, geetest_validate, geetest_seccode
                captchaObj.appendTo("#embed-captcha");
                captchaObj.onReady(function () {
                    $("#wait")[0].className = "hide";
                });
                // 更多接口参考：http://www.geetest.com/install/sections/idx-client-sdk.html
            };
            $.ajax({
                // 获取id，challenge，success（是否启用failback）
                url: "{:U('/Appointment/Login/StartCaptchaServlet',array('t'=>time()))}", // 加随机数防止缓存
                type: "get",
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    // 使用initGeetest接口
                    // 参数1：配置参数
                    // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
                    initGeetest({
                    	width: '198px',
                        gt: data.gt,
                        challenge: data.challenge,
                        new_captcha: data.new_captcha,
                        product: "popup", // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
                        offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
                    }, handlerEmbed);
                }
            });
        </script>
    </if>
</body>
</html>