<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../favicon.ico">
		<title>{:C('SITE_NAME')}</title>
		<!-- Bootstrap core CSS -->
		<link href="__PUBLIC__/Index/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<!-- Custom styles for this template -->
		<link href="__PUBLIC__/Index/css/owl.carousel.css" rel="stylesheet">
		<link href="__PUBLIC__/Index/css/owl.theme.default.min.css"  rel="stylesheet">
		<link href="__PUBLIC__/Index/css/style.css" rel="stylesheet">
	</head>
	<body id="page-top">
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand page-scroll" href="#page-top"><img src="__PUBLIC__/Index/images/logo.png" alt="Sanza theme logo"></a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<foreach name='navbar' item='v' key='i'>
							<li>
								<a class="page-scroll" href="{$v.config_value_1}">{$v.config_value_2}</a>
							</li>
						</foreach>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
		<!-- Header -->
		<header>
			<div class="container">
				<div class="slider-container">
					<div class="intro-text">
						<div class="intro-lead-in">{:C('SITE_NAME')}</div>
						<div class="intro-heading">{$association_slogan.config_value_1}</div>
						<a target="_blank" href="{$main_button.config_value_2}" class="page-scroll btn btn-xl">{$main_button.config_value_1}</a>
					</div>
				</div>
			</div>
		</header>
		<section id="about" class="dark-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>协会介绍</h2>
							<p>{$association_info.config_value_1}</p>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- about module -->
					<foreach name='major_activities' item='v' key='i'>
						<div class="col-md-3 text-center">
							<div class="mz-module-about">
								<i class="fa fa-briefcase ot-circle"></i>
								<h3>{$v.config_value_1}</h3>
								<p>{$v.config_value_2}</p>
							</div>
						</div>
					</foreach>
					<!-- end about module -->
				</div>
			</div>
			<!-- /.container -->
		</section>
      
      
		<section class="light-bg">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<div class="section-text">
							<h3>协会新闻</h3>
							<ul>
								<foreach name='association_news' item='v' key='i'>
									<li><a href="{:U('/Index/News/look',array('id'=>$v['id']))}">{$v.title}</a></li>
								</foreach>
							</ul>
						</div>
					</div>
					<div class="col-md-5">

						<div class="owl-portfolio owl-carousel">
							<foreach name='association_news' item='v' key='i'>
								<div class="item">
									<div class="owl-portfolio-item"><img src="{$v.picture}" class="img-responsive" alt="新闻图片"></div>
								</div>
							</foreach>
						</div>

					</div>
				</div>
			</div>
		</section>
		
		<section id="portfolio">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>相册</h2>
							<p> 我们的工作相册是展示协会风采最好的方式,你可以在这里查看我们的工作内容。</p>
						</div>
					</div>
				</div>
				<div class="row row-0-gutter">
					<!-- start portfolio item -->
					<foreach name='association_album' item='v' key='i'>
						<div class="col-md-4 col-0-gutter">
							<div class="ot-portfolio-item">
								<figure class="effect-bubba">
									<img src="{$v.config_value_2}" alt="活动图片" class="img-responsive" />
									<figcaption>
										<h2>{$v.config_value_1}</h2>
										<p>{:C('SITE_NAME')}</p>
										<a target="_blank" href="{$v.config_value_3}" >查看更多</a>
									</figcaption>
								</figure>
							</div>
						</div>
					</foreach>
					<!-- end portfolio item -->
				</div>
			</div><!-- end container -->
		</section>

		<section class="dark-bg short-section stats-bar">
			<div class="container text-center">
				<div class="row">
					<div class="col-md-3 mb-sm-30">
						<div class="counter-item">
                          <h2 class="stat-number" data-n="{$common_count.comment_count}">0</h2>
							<h6>评论量</h6>
							
						</div>
					</div>
                  <div class="col-md-3 mb-sm-30">
						<div class="counter-item">
							<h2 class="stat-number" data-n="{$common_count.members_count}">0</h2>
							<h6>注册会员</h6>
						</div>
					</div>
					<div class="col-md-3 mb-sm-30">
						<div class="counter-item">
							<h2 class="stat-number" data-n="{$common_count.fix_count}">0</h2>
							<h6>已维修电脑</h6>
						</div>
					</div>
					
					<div class="col-md-3 mb-sm-30">
						<div class="counter-item">
							<h2 class="stat-number" data-n="{$common_count.visit_count}">0</h2>
							<h6>网站访问量</h6>
						</div>
					</div>
				</div>
			</div>
		</section>

		
		<section id="team" class="light-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>我们的团队</h2>
							<p>协会技术大佬风采</p>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- team member item -->
					<foreach name='best' item='v' key='i'>
						<div class="col-md-4">
							<div class="team-item">
								<div class="team-image" >
									<img width=100% height=100% src="__PUBLIC__{$v.img}" class="img-responsive" alt="成员照骗">
								</div>
								<div class="team-text">
									<h3>{$v.truename}</h3>
									<div class="team-position">{$v.position}<br>QQ:{$v.qq}</div>
									<p>{$v.flag}</p>
								</div>
							</div>
						</div>	
					</foreach>
					<!-- end team member item -->
				</div>
			</div>
		</section>
		<section >
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>兄弟协会</h2>
							<p></p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="owl-partners owl-carousel">
							<foreach name='partner_association' item='v' key='i'>
								<div class="item">
									<div class="partner-logo"><img src="{$v.config_value_1}" alt="兄弟协会"></div>
								</div>
							</foreach>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="contact" class="dark-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>联系我们</h2>
							<p>If you have some Questions or need Help! Please Contact Us!</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="section-text">
							<h4>协会办公室地址</h4>
								<p>{$association_address.config_value_1}</p>
							<h4>联系方式</h4>
								<foreach name='contact_info' item='v' key='i'>
									<p><a href="{$v.config_value_1}">{$v.config_value_2}</a></p>
								</foreach>
						</div>
					</div>
					<div class="col-md-3">
						<div class="section-text">
							<h4>工作时间</h4>
							<p><i class="fa fa-clock-o"></i> <span class="day">周一至周五：</span><span>12：30-13：30</span></p>
							<p><i class="fa fa-clock-o"></i> <span class="day">周末：</span><span>休息</span></p>
						</div>
					</div>
					<div class="col-md-6">
						<form name="sentMessage" id="contactForm" action="/Index/index/feedback" method="post" novalidate="">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Your Name *" id="name" name="name" required="required" >
										<p class="help-block text-danger"></p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="email" class="form-control" placeholder="Your Email *" id="email" name="email" required="required" >
										<p class="help-block text-danger"></p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<textarea class="form-control" placeholder="Your Message *" id="message" name="message" required="required" ></textarea>
										<p class="help-block text-danger"></p>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="row">
								<div class="col-lg-12 text-center">
									<div id="success"></div>
									<button type="submit" class="btn">发送反馈</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<p id="back-top">
			<a href="#top"><i class="fa fa-angle-up"></i></a>
		</p>
		<footer>
			<div class="container text-center">
				<p>Copyright TianjinTech.com Allright Reserved</p>
			</div>
		</footer>



		<!-- Bootstrap core JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="__PUBLIC__/Index/js/jquery.min.js"></script>
		<script src="__PUBLIC__/Index/js/jquery.easing.min.js"></script>
		<script src="__PUBLIC__/Index/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/Index/js/owl.carousel.min.js"></script>
		<script src="__PUBLIC__/Index/js/cbpAnimatedHeader.js"></script>
		<script src="__PUBLIC__/Index/js/jquery.appear.js"></script>
		<script src="__PUBLIC__/Index/js/SmoothScroll.min.js"></script>
		<script src="__PUBLIC__/Index/js/mooz.themes.scripts.js"></script>
	</body>
</html>
